/*

@Author: Khalidative
@URL: http://www.khalidative.tech

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.


	// Table of contents //

    EXTRA - Mouse selection code for custom color
    EXTRA - INTRODUCTION - BRABUS
    EXTRA - GLITCH ANIMZ - UNICORD
    EXTRA - GENERAL - IQONIC
    EXTRA - BANNER - IQONIC
    EXTRA - WORKS - BRABUS
    EXTRA - CONTENT SECTION BG INAGE FIXED - ANNUSA
    EXTRA - WORK WITH US - BRABUS
    EXTRA - SERVICES CONTENT BLOCK - BRABUS
    EXTRA - WORKS - UNICORD
    EXTRA - WORKS FILTER - UNICORD
    EXTRA - FOOTER - UNICORD
    EXTRA - CUSTOM CURSOR - ANNUSA
    EXTRA - PRELOADER - AGENSY
    EXTRA - PAGE
    EXTRA - TRANSITION OVERLAY - AGENSY
		01. GOOGLE FONTS
		02. BODY
		03. HTML TAGS
		04. CUSTOM TAGS
		05. SECTIONS
		06. CONTENT
		07. ODOMETER
		08. EQUALIZER
		09. REVEAL EFFECT
		10. PAGE TRANSITION - Removed
		11. PRELOADER - Removed
		12. PAGE LOADED - Removed
		13. TEXT ROTATER
		14. PERSPECTIVE 
		15. SOCIAL BAR
		16. HEADER
		17. DROPDOWN
		18. SLIDER
		19. SLIDER FRACTION
		20. SLIDER BUTTONS
		21. SLIDER CONTENT
		22. SLIDER LINKS
		23. INT HERO
		24. ABOUT STUDIO
		25. WORKS - Removed
		26. WORKS FILTER
		27. WORKS FIGURE
		28. ICON FEATURES
		29. TEAM MEMBERS
		30. CLIENTS
		31. SIDE IMAGE CONTENT
		32. AWARDS
		33. JOURNAL
		34. CONTACT
		35. FOOTER - Removed
		36. SCROLL DOWN
		37. RESPONSIVE MEDIUM FIXES
		38. RESPONSIVE TABLET FIXES
    39. RESPONSIVE MOBILE FIXES


  */
/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Poppins:300,400,600,800&amp;display=swap");
/* BODY */
* {
  outline: none !important;
}



/*** Works on common browsers ***/
::selection {
  background-color: #FF9933;
  color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: #FF9933;
  color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: #FF9933;
  color: #fff;
}

::-ms-selection {
  background-color: #FF9933;
  color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: #FF9933;
  color: #fff;
}


/* INTRO */
.intro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
}
.intro h6 {
  display: block;
  line-height: 1;
  margin-bottom: 20px;
  font-family: "Fjalla One", sans-serif;
  opacity: 0.5;
  font-size: 14px;
}
.intro h2 {
  margin-bottom: 60px;
  font-weight: 800;
  font-size: 4vw;
  line-height: 1.2;
  padding-right: 35%;
  float: left;
  position: relative;
}
.intro h2:before {
  content: attr(data-text);
  margin-bottom: 60px;
  font-weight: 800;
  font-size: 4vw;
  line-height: 1.2;
  padding-right: 35%;
  float: left;
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }
  
.intro h4 {
  margin-top: 5px;
  font-family: "Fjalla One", sans-serif;
  font-size: 25px;
  line-height: 40px;
  text-transform: uppercase;
  padding-right: 20%;
}
.intro p {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 37px;
}
.intro u {
  text-decoration: none;
  border-bottom: 3px dotted #e8293b;
  font-weight: 600;
}
.intro strong {
  font-weight: 600;
}
.intro .custom-link {
  transform: translateY(30px);
}


/* GLITCH ANIMZ */
@keyframes noise-anim {
  0% {
    clip: rect(61px, 9999px, 101px, 0); }
  5% {
    clip: rect(7px, 9999px, 65px, 0); }
  10% {
    clip: rect(118px, 9999px, 116px, 0); }
  15% {
    clip: rect(71px, 9999px, 128px, 0); }
  20% {
    clip: rect(30px, 9999px, 12px, 0); }
  25% {
    clip: rect(43px, 9999px, 105px, 0); }
  30% {
    clip: rect(1px, 9999px, 101px, 0); }
  35% {
    clip: rect(36px, 9999px, 48px, 0); }
  40% {
    clip: rect(125px, 9999px, 56px, 0); }
  45% {
    clip: rect(45px, 9999px, 57px, 0); }
  50% {
    clip: rect(30px, 9999px, 3px, 0); }
  55% {
    clip: rect(35px, 9999px, 35px, 0); }
  60% {
    clip: rect(96px, 9999px, 97px, 0); }
  65% {
    clip: rect(51px, 9999px, 56px, 0); }
  70% {
    clip: rect(81px, 9999px, 29px, 0); }
  75% {
    clip: rect(127px, 9999px, 100px, 0); }
  80% {
    clip: rect(81px, 9999px, 36px, 0); }
  85% {
    clip: rect(99px, 9999px, 1px, 0); }
  90% {
    clip: rect(89px, 9999px, 53px, 0); }
  95% {
    clip: rect(109px, 9999px, 64px, 0); }
  100% {
    clip: rect(5px, 9999px, 117px, 0); } }
@keyframes noise-anim-2 {
  0% {
    clip: rect(48px, 9999px, 57px, 0); }
  5% {
    clip: rect(107px, 9999px, 17px, 0); }
  10% {
    clip: rect(41px, 9999px, 37px, 0); }
  15% {
    clip: rect(79px, 9999px, 128px, 0); }
  20% {
    clip: rect(101px, 9999px, 108px, 0); }
  25% {
    clip: rect(71px, 9999px, 89px, 0); }
  30% {
    clip: rect(43px, 9999px, 37px, 0); }
  35% {
    clip: rect(118px, 9999px, 80px, 0); }
  40% {
    clip: rect(95px, 9999px, 2px, 0); }
  45% {
    clip: rect(120px, 9999px, 69px, 0); }
  50% {
    clip: rect(81px, 9999px, 101px, 0); }
  55% {
    clip: rect(17px, 9999px, 106px, 0); }
  60% {
    clip: rect(23px, 9999px, 117px, 0); }
  65% {
    clip: rect(24px, 9999px, 5px, 0); }
  70% {
    clip: rect(37px, 9999px, 64px, 0); }
  75% {
    clip: rect(19px, 9999px, 129px, 0); }
  80% {
    clip: rect(83px, 9999px, 48px, 0); }
  85% {
    clip: rect(9px, 9999px, 10px, 0); }
  90% {
    clip: rect(66px, 9999px, 127px, 0); }
  95% {
    clip: rect(12px, 9999px, 51px, 0); }
  100% {
    clip: rect(81px, 9999px, 114px, 0); } }




/*---------------------------------------------------------------------
                              General
-----------------------------------------------------------------------*/

body { font-family: 'Conv_Hero-Regular'; font-weight: normal; font-style: normal; font-size: 18px; line-height: 2; ; background: #0e0f1a; overflow-x: hidden; }
body.menu-open { overflow: hidden; }
a, .button { transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; color: #6f6f6f; }



/*--------------------------------------------------------------
                       Banner
--------------------------------------------------------------*/
.banner { position: relative; }
.banner-in { padding: 180px 0 180px !important; }
.banner_canvas { position: fixed; top: 0; left: 0; height: 100%; width: 100%; }
#banner { color: #0e0f1a; text-align: center; position: absolute; top: 50%; left: 50%; -moz-transform: translateX(-50%) translateY(-50%) !important; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%) !important; width: 85%; }
.banner h6 { font-size: 22px; letter-spacing: 6px; font-family: 'Conv_Hero-Regular'; position: relative; margin-top: 100px; text-transform: uppercase; }
.banner h1 { font-size: 4.241em; margin-left: 20%; position: relative; }
.banner h1 span { position: relative; }
.banner h1 span:before { position: absolute; content: ""; bottom: 0; left: 10px; right: 15px; width: auto; border-radius: 900px; height: 5px; display: inline-block; background: #ff7272; }
.banner h1 span:after { position: absolute; content: ""; bottom: 0; right: 5px; width: 5px; border-radius: 900px; height: 5px; display: inline-block; background: #ff7272; }
.banner .button { float: right; margin-top: 30px; position: relative; }
.banner .line-button { margin-top: 12%; position: absolute; }
.banner .bann-img img { border-radius: 0; position: absolute; left: -15%; width: 60px; bottom: -120px; }




/*   */
.works {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
  transition-delay: 0s !important;
  transition: background 0.4s;
}
.works h6 {
  display: block;
  line-height: 1;
  margin-bottom: 20px;
  font-family: "Fjalla One", sans-serif;
  color: #ffff;
  opacity: 0.5;
  font-size: 14px;
}

.works h2 {
  margin-bottom: 60px;
  font-weight: 800;
  font-size: 60px;
  color: #ffff;
  line-height: 1.2;
  padding-right: 35%;
  float: left;
  position: relative;
}
.works h2:before {
  content: attr(data-text);
  margin-bottom: 60px;
  font-weight: 800;
  font-size: 60px;
  color: #ffff;
  line-height: 1.2;
  padding-right: 35%;
  float: left;
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }
  .works h2:after {
  content: attr(data-text);
  margin-bottom: 60px;
  font-weight: 800;
  font-size: 60px;
  color: #ffff;
  line-height: 1.2;
  padding-right: 35%;
  float: left;
  position: absolute;
  text-shadow: -1px 0 red;
  left: -2px;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, xw00px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }
.works .project-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 75px 0;
}
.works .project-box * {
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.works .project-box:hover figure {
  transform: scale(0.95);
}
.works .project-box:hover figure img {
  transform: scale(1.15);
}
.works .project-box:last-child {
  padding-bottom: 0;
}
.works .project-box:nth-child(2n+2) .custom-link a {
  float: right;
}
.works .project-box:nth-child(2n+2) .content-box {
  order: 1;
  text-align: right;
  padding-left: 0;
  padding-right: 5%;
}
.works .project-box:nth-child(2n+2) .content-box h3 span {
  margin-left: 0;
  margin-right: -7vw;
}
.works .project-box:nth-child(2n+2) figure {
  order: 2;
}
.works .project-box figure {
  width: 55%;
  margin: 0;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  opacity: 0.8;
}
.works .project-box figure img {
  width: 100%;
}
.works .project-box .content-box {
  width: 45%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.works .project-box .content-box .inner {
  margin: 0;
}
.works .project-box .content-box .inner small {
  display: block;
  margin-bottom: 20px;
  font-family: "Fjalla One", sans-serif;
  color: #ffff;
  opacity: 0.5;
  font-size: 14px;
}
.works .project-box .content-box .inner h3 {
  font-size: 5vw;
  font-weight: 800;
  margin-bottom: 10vh;
  color: #FF9933;
  line-height: 1;
}

.works .project-box .content-box .inner a {
  
  color: #FF9933;
}
.works .project-box .content-box .inner h3 span {
  display: block;
  font-size: 8vw;
  color: #FF9933;
  margin-left: -7vw;
}


/* CONTENT SECTION */
.content-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
  background: #fff;
}
.bg-color-dark {
  background: #0e0e0e !important;
}
.bg-color-main {
  background: #4237ef !important;
}
.bg-image-fixed {
  width: 100%;
  min-height: 450px;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}

/* WORK WITH US */
.work-with-us {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
  background: #FF9933;
  position: relative;
}
.work-with-us:before {
  content: "";
  width: 100%;
  height: 100%;
  background: url(../images/bg-noise.gif);
  opacity: 0.04;
  position: absolute;
  left: 0;
  top: 0;
}
.work-with-us:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/bg-lines.png) center;
  z-index: 1;
}
.work-with-us .container {
  position: relative;
  z-index: 2;
}
.work-with-us h6 {
  display: block;
  line-height: 1;
  margin-bottom: 20px;
  font-family: "Fjalla One", sans-serif;
  font-size: 14px;
}
.work-with-us h2 {
  margin-bottom: 60px;
  font-weight: 800;
  font-size: 60px;
  line-height: 1.2;
  padding-right: 35%;
}
.work-with-us h2:before {
  content: attr(data-text);
  font-size: 20vw;
  opacity: 0.05;
  z-index: -1;
  position: absolute;
  left: 0;
  top: -20%;
}
.work-with-us h4 {
  margin-top: 5px;
  font-family: "Fjalla One", sans-serif;
  font-size: 25px;
  line-height: 40px;
  text-transform: uppercase;
  padding-right: 20%;
  margin-bottom: 40px;
}

/* SERVICES CONTENT BLOCK */
.services-content-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
  background: #0e0e0e;
  color: #fff;
  position: relative;
}
.services-content-block .video-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  opacity: 0.2;
}
.services-content-block .video-bg video {
  min-width: 100%;
  min-height: 100%;
  float: left;
}
.services-content-block h6 {
  display: block;
  line-height: 1;
  margin-bottom: 20px;
  font-family: "Fjalla One", sans-serif;
  font-size: 14px;
}
.services-content-block h2 {
  margin-bottom: 60px;
  font-weight: 800;
  font-size: 60px;
  line-height: 1.2;
  padding-right: 35%;
}
.services-content-block .left {
  width: 100px;
  float: left;
  margin-top: -2px;
}
.services-content-block .right {
  width: calc(100% - 100px);
  float: left;
}
.services-content-block small {
  display: inline-block;
  font-family: "Fjalla One", sans-serif;
  color: #FF9933;
}
.services-content-block span {
  width: 50px;
  height: 1px;
  background: #FF9933;
  display: inline-block;
  margin: 5px 15px;
}
.services-content-block h4 {
  font-family: "Fjalla One", sans-serif;
  font-size: 17px;
  margin-bottom: 30px;
}
.services-content-block ul {
  padding-left: 20px;
  margin-bottom: 0;
}
.services-content-block ul li {
  line-height: 1.8;
}



/* WORKS */
.works {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 150px;
  padding-bottom: 50px; }
  .works.two-cols ul li {
    width: 50%; }
  .works.four-cols ul li {
    width: 25%; }
  .works.four-cols ul li figure figcaption {
    padding: 20px; }
  .works.four-cols ul li figure figcaption h3 {
    font-size: 20px;
    margin-left: -30px; }
  .works.four-cols ul li figure figcaption small {
    margin-bottom: 20px; }
  .works ul {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0; }
    .works ul li {
      width: 33.33333%;
      float: left;
      margin: 0;
      margin-bottom: 100px;
      padding: 0 5%;
      list-style: none; }
      .works ul li:nth-child(2n+2) {
        margin-top: 100px; }
      .works ul li:nth-child(3n+3) {
        margin-top: 50px; }
      .works ul li figure {
        position: relative;
        width: 100%;
        height: 100%;
        float: left;
        margin: 0;
        transform-style: preserve-3d; }
        .works ul li figure * {
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -ms-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
          opacity: 0.9; }
        .works ul li figure:hover {
          margin: 0; }
          .works ul li figure:hover .thumb {
            box-shadow: 4px 21px 44px -13px rgba(0, 0, 0, 0.75); }
          .works ul li figure:hover figcaption {
            text-shadow: 2px 10px 10px rgba(0, 0, 0, 0.35); }
            .works ul li figure:hover figcaption a {
              opacity: 1; }
            .works ul li figure:hover figcaption .brand {
              opacity: 1; }
        .works ul li figure .thumb {
          width: 100%; }
        .works ul li figure figcaption {
          position: absolute;
          left: 0;
          bottom: 0;
          padding: 0 30px;
          padding-bottom: 50px;
          transform: translateZ(20px); }
          .works ul li figure figcaption .brand {
            height: 30px;
            margin-bottom: 40px;
            opacity: 0; }
          .works ul li figure figcaption h3 {
            font-weight: 800;
            color: #fff;
            margin-left: -50px; }
          .works ul li figure figcaption small {
            font-size: 1vw;
            color: #fff;
            display: block;
            margin-bottom: 50px;
            font-weight: 600; }
          .works ul li figure figcaption a {
            display: inline-block;
            color: #fff;
            font-size: 24px;/*  default 12px */
            font-family: 'Fjalla One', sans-serif;
            border-bottom: 2px solid #fff;
            padding-bottom: 2px;
            opacity: 0; }
            .works ul li figure figcaption a:hover {
              text-decoration: none; }

/* WORKS FILTER */
.filter-bar {
  width: 100%;
  float: left;
  margin-bottom: 60px; }
  .filter-bar .works-filter {
    float: left;
    line-height: 20px;
    margin: 0;
    padding: 0; }
    .filter-bar .works-filter li {
      float: left;
      margin: 0;
      margin-right: 10px;
      padding: 0;
      list-style: none;
      opacity: 0;
      transform: translateY(10px);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -ms-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
      .filter-bar .works-filter li:nth-child(1) {
        transition-delay: 0s; }
      .filter-bar .works-filter li:nth-child(2) {
        transition-delay: 0.05s; }
      .filter-bar .works-filter li:nth-child(3) {
        transition-delay: 0.10s; }
      .filter-bar .works-filter li:nth-child(4) {
        transition-delay: 0.15s; }
      .filter-bar .works-filter li:nth-child(5) {
        transition-delay: 0.20s; }
      .filter-bar .works-filter li:nth-child(6) {
        transition-delay: 0.25s; }
      .filter-bar .works-filter li:nth-child(7) {
        transition-delay: 0.30s; }
      .filter-bar .works-filter li:nth-child(8) {
        transition-delay: 0.35s; }
      .filter-bar .works-filter li:nth-child(9) {
        transition-delay: 0.40s; }
      .filter-bar .works-filter li a {
        float: left;
        font-size: 13px;
        color: #fff;
        font-family: 'Fjalla One', sans-serif;
        border-bottom: 2px solid transparent;
        padding: 0 2px;
        padding-bottom: 2px; }
        .filter-bar .works-filter li a.current {
          color: #FF9933;
          border-bottom: 2px solid #FF9933; }
        .filter-bar .works-filter li a:hover {
          color: #FF9933;
          text-decoration: none; }
    .filter-bar .works-filter.active li {
      opacity: 1;
      transform: translateY(0); }


/* FOOTER */
.footer {
  width: 100%;
  display: flex;
  color: #fff;
  background: url(../images/anim-hero.gif) center no-repeat #131313;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
  position: relative; }
  .footer img {
    height: 55px;
    display: inline-block;
    margin-bottom: 20px; }
  .footer h2 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px; }
  .footer h5 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: #808080; }
  .footer ul {
    display: inline-block;
    margin-bottom: 20px;
    padding: 0; }
    .footer ul li {
      float: left;
      margin: 0 10px;
      padding: 0;
      list-style: none; }
      .footer ul li a {
        font-size: 12px;
        color: #fff; }
        .footer ul li a:hover {
          color: #FF9933; }
  .footer span {
    display: block;
    font-size: 11px;
    color: #989898; }

/* CUSTOM CURSOR */
.cursor {
  position: fixed;
  top: -30px;
  left: -30px;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}
.cursor:before {
  content: "";
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  background: white;
  transition: all ease 0.15s;
  transform: scale(1);/*0.15*/
}
/* 
.cursor.light:before {
  transform: scale(1);
} */


/* PRELOADER */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background: #282828;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 99;
  transition-delay: 0.65s;
}
.preloader * {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.preloader:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 200px 100vh 0;
  border-color: transparent #282828 transparent transparent;
  position: absolute;
  left: -200px;
  top: 0;
}
.preloader:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100vh 0 0 200px;
  border-color: transparent transparent transparent #282828;
  position: absolute;
  right: -200px;
  top: 0;
}
.preloader .inner {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.preloader .inner .logo {
  display: inline-block;
  margin: 0;
  animation: fadeInUp ease 0.6s;
}
.preloader .inner .logo img {
  height: 50px;
}
.preloader .inner .percentage {
  width: 100%;
  font-size: 70vh;
  line-height: 1;
  font-weight: 800;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0.05;
  transition-delay: 0.1s;
}


.preloader .holder {
  width: 100%;
  height: 26px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: 50px;
  text-align: center; }
.preloader .typewriter {
  height: 26px;
  line-height: 26px;
  display: inline-block;
  color: #fff; }
  .preloader .typewriter #typewriter-text {
    float: left;
    font-size: 12px;
    margin-left: 5px;
    margin-top: -2px;
    margin-right: 3px; }
  .preloader .typewriter #typewriter-suffix {
    width: 2px;
    height: 16px;
    display: inline-block;
    background: #FF9933;
    text-indent: -1000px;
    overflow: hidden; }
.preloader .loader {
  width: 100%;
  height: 3px;
  border: none;
  border-radius: none;
  position: absolute;
  top: 0;
  left: 0; }
  .preloader .loader:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0; }
.preloader .trackbar {
  width: 100%;
  height: 100%;
  border-radius: 0;
  color: #fff;
  text-align: center;
  position: relative;
  background: #808080;
  opacity: 0.99; }
.preloader .loadbar {
  width: 0%;
  height: 100%;
  background: #FF9933;
  box-shadow: 0px 0px 10px #FF9933;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  animation: flicker 5s infinite;
  overflow: hidden; }

.page-loaded.preloader {
  left: calc(-100% - 200px);
  visibility: hidden;
}

.page-loaded.preloader .logo {
  transform: translateX(-100px);
  opacity: 0;
}

.page-loaded.preloader .percentage {
  margin-left: 100px;
  opacity: 0;
}


/* TRANSITION OVERLAY */
.transition-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: calc(-100% - 200px);
  bottom: 0;
  background: #282828;
  z-index: 99;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  visibility: hidden;
}
.transition-overlay:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 200px 100vh 0;
  border-color: transparent #282828 transparent transparent;
  position: absolute;
  left: -200px;
  top: 0;
}
.transition-overlay.active {
  right: 0;
  visibility: visible;
}





body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  /*background: #222327;*/
}

/* HTML ELEMENTS */
img {
  max-width: 100%;
}

/* LINKS */
a {
  color: #222327;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #222327;
}

/* CUSTOM CLASSES */
.overflow {
  overflow: hidden;
}

/* CUSTOM CONTAINER */
@media (min-width: 1300px) {
  .container {
    max-width: 1340px;
  }
}
/* SECTIONS */
main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  /*background: #222327;*/
}

section {
  position: relative;
}

aside {
  position: relative;
}

/* FORM ELEMENTS */
input[type=text] {
  max-width: 100%;
  height: 58px;
  border: 1px solid #eee;
  padding: 0 20px;
}

input[type=email] {
  max-width: 100%;
  height: 58px;
  border: 1px solid #eee;
  padding: 0 20px;
}

input[type=search] {
  max-width: 100%;
  height: 58px;
  border: 1px solid #eee;
  padding: 0 20px;
}

input[type=password] {
  max-width: 100%;
  height: 58px;
  border: 1px solid #eee;
  padding: 0 20px;
}

input[type=submit] {
  height: 58px;
  border: none;
  /*background: #222327;*/
  color: #fff;
  padding: 0 30px;
  font-weight: 600;
  font-size: 14px;
}

button[type=submit] {
  height: 58px;
  border: none;
  /*background: #222327;*/
  color: #fff;
  padding: 0 30px;
  font-weight: 600;
  font-size: 14px;
}

textarea {
  max-width: 100%;
  height: 140px;
  border: 1px solid #eee;
  padding: 20px;
}

/* EQUALIZER */
.equalizer {
  width: 26px;
  height: 30px;
  cursor: pointer;
  position: relative;
}

.equalizer span {
  background: #fff;
  width: 2px;
  height: 0px;
  bottom: 0;
  left: 0%;
  display: block;
  position: absolute;
  transition: height 0.2s linear;
}

.equalizer span:nth-child(1) {
  margin-left: 8px;
}

.equalizer span:nth-child(2) {
  margin-left: 16px;
}

.equalizer span:nth-child(4) {
  margin-left: 24px;
}

.equalizer.paused span {
  height: 3px !important;
}

/* SPLITTING */
.splitting .word, .splitting .char {
  display: inline-block;
}

.splitting .char {
  position: relative;
}

.animated .char {
  display: inline-block;
  animation: texteffect 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
  animation-delay: calc(10ms * var(--char-index));
}

/* ODOMETER */
.odometer.odometer-auto-theme, .odometer.odometer-theme-car {
  padding: 0;
}

.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-car .odometer-digit {
  padding: 0;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-car .odometer-digit .odometer-value {
  text-indent: -5px;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-car .odometer-digit .odometer-digit-inner {
  left: 0;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-car .odometer-digit .odometer-value {
  text-indent: 0;
}

/* PAGINATION */
.pagination {
  width: 100%;
  float: left;
  margin: 50px 0;
}
.pagination .page-item {
  display: inline-block;
  margin-right: 10px;
}
.pagination .page-item .page-link {
  font-weight: 600;
  border-radius: 0 !important;
  font-size: 13px;
  color: #222327;
  line-height: 1;
  padding: 15px 30px;
}

/* REVEAL EFFECT */
.reveal-effect {
  float: left;
  position: relative;
}

.reveal-effect > * {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  position: relative;
}

.reveal-effect > * {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.reveal-effect {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.reveal-effect {
  -webkit-transition-duration: 1.2s;
  transition-duration: 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.reveal-effect.animated {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.reveal-effect.animated * {
  -webkit-animation-name: show-img-1;
  animation-name: show-img-1;
}

.reveal-effect:after {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.reveal-effect:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.reveal-effect:after {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0.05, 0);
  transform: scale(0.05, 0);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.reveal-effect.masker:after {
  background-color: #161619;
}

.reveal-effect.animated:after {
  -webkit-animation-name: slide-bg-2;
  animation-name: slide-bg-2;
}

/* SWIPER PAGINATION */
.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  transform: scale(0.4);
  background: #fff;
  opacity: 1;
  border-radius: 50%;
}

.swiper-pagination .swiper-pagination-bullet:hover {
  -webkit-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  -webkit-transform: scale(1);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  background: none;
}

.swiper-pagination .swiper-pagination-bullet-active {
  -webkit-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  -webkit-transform: scale(1);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  background: none;
}


/* PAGE LOADED */
.page-loaded1 .preloader1 {
  left: -100%;
}

.page-loaded1 .preloader1 .inner figure {
  opacity: 0;
  transform: scale(1.5);
}

.page-loaded1 .preloader1 .inner span {
  transform: translateY(20px);
  opacity: 0;
}

.page-loaded1 .preloader1 .layer {
  left: -100%;
}

.page-loaded1 .left-side {
  left: 0;
  opacity: 1;
}

.page-loaded1 .slider {
  filter: blur(0);
  transform: scale(1);
}

.page-loaded1 .page-header {
  filter: blur(0);
  transform: scale(1);
}

.page-loaded1 .all-cases-link {
  right: 30px;
}





/* SITE NAVIGATION */
.site-navigation {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  background: #FF9933;
  padding-left: 120px;
}
.site-navigation .layer {
  width: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: #161619;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 0.3s;
}
.site-navigation .inner {
  position: relative;
  z-index: 2;
  padding-left: 100px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  transition-delay: 0.7s;
  opacity: 0;
}
.site-navigation .inner ul {
  margin: 0;
  padding: 0;
  animation-duration: 1s;
}
.site-navigation .inner ul li {
  display: block;
  margin: 5px 0;
  padding: 5px 0;
}
.site-navigation .inner ul li ul {
  margin-top: 0;
  margin-bottom: 10px;
  display: none;
}
.site-navigation .inner ul li ul li {
  display: block;
  margin: 0;
}
.site-navigation .inner ul li ul li a {
  font-size: 26px;
}
.site-navigation .inner ul li i {
  margin-left: 20px;
  font-size: 30px;
  color: #fff;
  display: inline-block;
  line-height: 1;
  transform: translateY(-5px);
  cursor: pointer;
}
.site-navigation .inner ul li small {
  width: 100%;
  display: block;
  color: #fff;
  opacity: 0.7;
  letter-spacing: 0.5px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  transform: translateY(-15px);
}
.site-navigation .inner ul li a {
  font-size: 50px;
  display: inline-block;
  font-weight: 800;
  color: #fff;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.site-navigation .inner ul li a:hover {
  color: #FF9933;
  text-decoration: none;
}
.site-navigation.active {
  opacity: 1;
  visibility: visible;
  right: 0;
}
.site-navigation.active .layer {
  width: 100%;
}
.site-navigation.active .inner {
  opacity: 1;
}

/* SECTION TITLES */
.section-title {
  font-family: "Fjalla One", sans-serif;
  margin-bottom: 80px;
  line-height: 1.4;
  font-size: 4vw;
  letter-spacing: 2px;
}

/* SOCIAL MEDIA */
.social-media {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 3;
  background: #FF9933;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.social-media .layer {
  width: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: #161619;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 0.3s;
}
.social-media .inner {
  position: relative;
  z-index: 2;
  padding-left: 100px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  transition-delay: 0.7s;
  opacity: 0;
  text-align: center;
  width: 100%;
}
.social-media .inner h5 {
  font-size: 3vw;
  font-weight: 600;
  color: #fff;
  margin-bottom: 50px;
}
.social-media .inner ul {
  display: block;
  margin: 0;
  padding: 0;
}
.social-media .inner ul li {
  font-size: 2vw;
  display: inline-block;
  margin: 0 40px;
  padding: 0;
  list-style: none;
}
.social-media .inner ul li a {
  color: #fff;
}
.social-media .inner ul li a:hover {
  color: #FF9933;
  text-decoration: none;
}
.social-media.active {
  opacity: 1;
  visibility: visible;
  right: 0;
}
.social-media.active .layer {
  width: 100%;
}
.social-media.active .inner {
  opacity: 1;
}

/* ALL CASES */
.all-cases {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 3;
  background: #FF9933;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.all-cases .layer {
  width: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: #161619;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 0.3s;
}
.all-cases .inner {
  position: relative;
  z-index: 2;
  padding-left: 220px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  transition-delay: 0.7s;
  opacity: 0;
  width: 100%;
}
.all-cases .inner ul {
  display: block;
  max-height: 500px;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}
.all-cases .inner ul li {
  font-size: 8vw;
  font-weight: 800;
  margin: 0;
  padding: 0;
  list-style: none;
}
.all-cases .inner ul li a {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}
.all-cases .inner ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.all-cases.active {
  opacity: 1;
  visibility: visible;
  right: 0;
}
.all-cases.active .layer {
  width: 100%;
}
.all-cases.active .inner {
  opacity: 1;
}

/* ALL CASES LINK */
.all-cases-link {
  position: absolute;
  right: -100%;
  top: 30px;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 1s;
}
.all-cases-link span {
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  margin-right: 10px;
}
.all-cases-link b {
  width: 40px;
  height: 40px;
  line-height: 44px;
  font-size: 25px;
  font-weight: 300;
  display: inline-block;
  background: #fff;
  color: #222327;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.all-cases-link b:hover {
  background: #FF9933;
  text-decoration: none;
  color: #fff;
}

/* LEFT SIDE */
.left-side {
  width: 120px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -100%;
  top: 0;
  z-index: 10;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-delay: 1s;
  opacity: 0;
}
.left-side .logo {
  display: inline-block;
  margin-bottom: auto;
}
.left-side .logo img {
  width: 50px;
}
.left-side .hamburger {
  margin: auto;
}
.left-side .follow-us {
  width: 100px;
  font-family: "Fjalla One", sans-serif;
  color: #fff;
  text-align: center;
  transform: rotate(-90deg);
  margin: auto;
  cursor: pointer;
}
.left-side .equalizer {
  margin: auto;
  margin-bottom: 0;
}

/* SLIDER */
.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transform: scale(1.2);
  filter: blur(20px);
  transition-delay: 0.8s;
}
.slider .swiper-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.slider .swiper-container .swiper-slide {
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.slider .swiper-container .swiper-slide video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}
.slider .gallery-top {
  height: 100%;
  width: 100%;
  /*background: #222327;*/
}
.slider .gallery-thumbs {
  width: calc(100% - 240px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 120px;
  padding-bottom: 30px;
  z-index: 9;
  position: absolute;
  bottom: 30%;
  right: 0;
  height: auto;
  color: #fff;
}
.slider .gallery-thumbs .swiper-slide {
  width: 90%;
  height: 100%;
  opacity: 0.4;
  text-align: center;
  filter: blur(3px);
}
.slider .gallery-thumbs .swiper-slide span {
  margin-left: 50%;
  transform: translateX(-50%);
  float: left;
  font-size: 3vw;
  line-height: 5vw;
  font-weight: 800;
}
.slider .gallery-thumbs .swiper-slide a {
  display: none;
  font-size: 13px;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  padding-bottom: 5px;
  position: relative;
}
.slider .gallery-thumbs .swiper-slide a:before {
  content: "";
  width: 20px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.slider .gallery-thumbs .swiper-slide a:hover {
  text-decoration: none;
}
.slider .gallery-thumbs .swiper-slide a:hover:before {
  width: 100%;
}
.slider .gallery-thumbs .swiper-slide-active {
  width: 100%;
  opacity: 1;
  transform: scale(1.4);
  filter: blur(0px);
}
.slider .gallery-thumbs .swiper-slide-active span {
  font-size: 4vw;
}
.slider .gallery-thumbs .swiper-slide-active a {
  display: inline-block;
}
.slider .swiper-button-prev {
  height: auto;
  position: absolute;
  left: auto;
  top: auto;
  right: 120px;
  bottom: 30px;
  font-family: "Fjalla One", sans-serif;
  color: #fff;
  background: none;
}
.slider .swiper-button-next {
  height: auto;
  position: absolute;
  left: auto;
  top: auto;
  right: 40px;
  bottom: 30px;
  font-family: "Fjalla One", sans-serif;
  color: #fff;
  background: none;
}
.slider .slide-progress {
  width: 220px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  bottom: 30px;
  margin-left: -110px;
  z-index: 3;
  text-align: center;
}
.slider .slide-progress span {
  display: inline-block;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  font-size: 14px;
}
.slider .slide-progress .swiper-pagination {
  width: 160px;
  height: 2px;
  margin: auto 10px;
  display: inline-block;
  position: static;
  background: rgba(255, 255, 255, 0.3);
}
.slider .slide-progress .swiper-pagination .swiper-pagination-progressbar-fill {
  background: #fff;
}

/* VIDEO HERO */
.video-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.video-hero .video-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  /*background: #222327;*/
}
.video-hero .video-bg video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}
.video-hero .inner {
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  z-index: 2;
}
.video-hero .inner span {
  width: 100%;
  float: left;
  font-size: 8vw;
  line-height: 5vw;
  font-weight: 800;
  color: #fff;
  margin-bottom: 30px;
  position: relative;
}
.video-hero .inner span:before {
  content: attr(data-text);
   width: 100%;
  float: left;
  font-size: 8vw;
  line-height: 5vw;
  font-weight: 800;
  color: #fff;
  margin-bottom: 30px;
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }
  .video-hero .inner span:after {
  content: attr(data-text);
  width: 100%;
  float: left;
  font-size: 8vw;
  line-height: 5vw;
  font-weight: 800;
  color: #fff;
  margin-bottom: 30px;
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, xw00px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }
.video-hero .inner a {
  font-size: 19px;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  padding-bottom: 5px;
  position: relative;
  border-bottom: 2px solid #fff;
  padding-bottom: 4px;
}
.video-hero .inner a:hover {
  text-decoration: none;
  color: #FF9933;
}

/* CAROUSEL HERO */
.carousel-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.carousel-hero .carousel-slider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.carousel-hero .carousel-slider .swiper-slide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  background-size: cover;
  background-position: center;
}
.carousel-hero .carousel-slider .swiper-slide.swiper-slide-active {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.carousel-hero .carousel-slider .swiper-slide.swiper-slide-active .inner {
  opacity: 1;
}
.carousel-hero .carousel-slider .swiper-slide.swiper-slide-active:after {
  opacity: 0.4;
}
.carousel-hero .carousel-slider .swiper-slide:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  /*background: #222327;*/
  opacity: 0.7;
}
.carousel-hero .carousel-slider .swiper-slide .inner {
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 2;
  opacity: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.carousel-hero .carousel-slider .swiper-slide .inner h2 {
  width: 100%;
  float: left;
  font-size: 4vw;
  line-height: 5vw;
  font-weight: 800;
  color: #fff;
  margin-bottom: 10px;
}
.carousel-hero .carousel-slider .swiper-slide .inner a {
  font-size: 19px;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  padding-bottom: 5px;
  position: relative;
  border-bottom: 2px solid #fff;
  padding-bottom: 4px;
}
.carousel-hero .carousel-slider .swiper-slide .inner a:hover {
  text-decoration: none;
  color: #FF9933;
}
.carousel-hero .swiper-button-prev {
  height: auto;
  position: absolute;
  left: auto;
  top: auto;
  right: 120px;
  bottom: 30px;
  font-family: "Fjalla One", sans-serif;
  color: #fff;
  background: none;
}
.carousel-hero .swiper-button-next {
  height: auto;
  position: absolute;
  left: auto;
  top: auto;
  right: 40px;
  bottom: 30px;
  font-family: "Fjalla One", sans-serif;
  color: #fff;
  background: none;
}
.carousel-hero .slide-progress {
  width: 220px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  bottom: 30px;
  margin-left: -110px;
  z-index: 3;
  text-align: center;
}
.carousel-hero .slide-progress span {
  display: inline-block;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  font-size: 14px;
}
.carousel-hero .slide-progress .swiper-pagination {
  width: 160px;
  height: 2px;
  margin: auto 10px;
  display: inline-block;
  position: static;
  background: rgba(255, 255, 255, 0.3);
}
.carousel-hero .slide-progress .swiper-pagination .swiper-pagination-progressbar-fill {
  background: #fff;
}

/* PAGE HEADER */
.page-header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  /*background: #161619;*/
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transform: scale(1.2);
  filter: blur(20px);
  transition-delay: 0.8s;
}
.page-header .video-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.page-header .video-bg video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}
.page-header .inner {
  width: 100%;
  padding-left: 220px;
  position: relative;
  z-index: 2;
}
.page-header .inner h1 {
  color: #fff;
  font-weight: 800;
  font-size: 10vw;
  letter-spacing: -3px;
}
.page-header .inner p {
  margin: 0;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

/* INTRO */
.intro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
  color: #fff;
  /*background: #161619;*/
}
.intro .col-lg-7 {
  padding-left: 10%;
}
.intro h6 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 19px;
}
.intro h6:after {
  content: "";
  width: 70px;
  height: 1px;
  background: #fff;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 7px;
}
.intro h3 {
  font-family: "Fjalla One", sans-serif;
  margin-bottom: 80px;
  line-height: 1.4;
  font-size: 4vw;
  letter-spacing: 2px;
  float: left;
  position: relative;
}
.intro h3:before {
  content: attr(data-text);
  font-family: "Fjalla One", sans-serif;
  margin-bottom: 80px;
  line-height: 1.4;
  font-size: 4vw;
  letter-spacing: 2px;
  float: left;
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }
.intro h3:after {
  content: attr(data-text);
  font-family: "Fjalla One", sans-serif;
  margin-bottom: 80px;
  line-height: 1.4;
  font-size: 4vw;
  letter-spacing: 2px;
  float: left;
  position: absolute;
  text-shadow: -1px 0 red;
  left: -2px;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, xw00px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }
.intro b {
  font-size: 120px;
  line-height: 1;
  font-family: "Fjalla One", sans-serif;
  float: left;
  font-weight: 400;
  margin-right: 20px;
}
.intro h4 {
  font-weight: 600;
}
.intro p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 35px;
}
.intro small {
  display: block;
  opacity: 0.7;
  margin-bottom: 50px;
}
.intro a {
  color: #fff;
  font-size: 17px;
  border-bottom: 1px solid #FF9933;
  padding-bottom: 5px;
}
.intro a:hover {
  border-color: #fff;
}

/* INTRO IMAGE */
.intro-image {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 150px;
  position: relative;
}
.intro-image:before {
  content: "";
  width: 100%;
  height: 100px;
  /*background: #161619;*/
  position: absolute;
  left: 0;
  top: 0;
}
.intro-image.light:before {
  background: #fff;
}
.intro-image .office-slider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /*background: #222327;*/
  position: relative;
  overflow: hidden;
}
.intro-image figure {
  width: 100%;
  display: block;
  margin: 0;
  position: relative;
}
.intro-image figure img {
  width: 100%;
  opacity: 0.7;
}
.intro-image figure figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  line-height: 1;
}
.intro-image figure figcaption h6 {
  font-size: 13px;
  color: #fff;
  font-weight: 600;
}


/* ICON CONTENT BLOCK */
.icon-content-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: #fff;
  /*background: #222327;*/
}
.icon-content-block .container {
  position: relative;
  z-index: 2;
}
.icon-content-block .content-block {
  width: 100%;
  display: block;
  margin: 0;
  padding: 50px 30px;
  position: relative;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.icon-content-block .content-block.selected {
  /*background: #161619;*/
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
}

.icon-content-block h3 {
  width: 100%;
  float: left;
  font-size: 4vw;
  line-height: 5vw;
  font-weight: 800;
  color: #fff;
  margin-bottom: 30px;
  position: relative;
}
.icon-content-block h3:before {
  content: attr(data-text);
   width: 100%;
  float: left;
  font-size: 4vw;
  line-height: 5vw;
  font-weight: 800;
  color: #fff;
  margin-bottom: 30px;
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }
  .icon-content-block h3:after {
  content: attr(data-text);
  width: 100%;
  float: left;
  font-size: 4vw;
  line-height: 5vw;
  font-weight: 800;
  color: #fff;
  margin-bottom: 30px;
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, xw00px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

.icon-content-block .content-block.selected:before {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  right: -25px;
  bottom: -30px;
  z-index: -1;
  background: url(../images/dot-pattern.png) right;
  background-size: 10px;
}
.icon-content-block .content-block figure {
  width: 100%;
  display: block;
  margin-bottom: 40px;
}
.icon-content-block .content-block figure img {
  height: 75px;
}
.icon-content-block .content-block h6 {
  display: block;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.icon-content-block .content-block ul {
  margin: 0;
  padding: 0;
}
.icon-content-block .content-block ul li {
  padding: 3px 0;
  opacity: 0.7;
  list-style: none;
  font-weight: 300;
}

/* TEXT CONTENT BLOCK */
.text-content-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
  background: #fff;
}
.text-content-block .col-md-4 {
  margin: 20px 0;
}
.text-content-block .section-title {
  margin-bottom: 30px;
}
.text-content-block h5 {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  padding-right: 20%;
  margin-bottom: 70px;
}
.text-content-block small {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: -20px;
  opacity: 0.1;
  display: block;
}
.text-content-block h6 {
  font-size: 20px;
  font-family: "Fjalla One", sans-serif;
}
.text-content-block p {
  padding-right: 20%;
  margin-bottom: 0;
  line-height: 1.5;
}

/* TESTIMONIALS */
.testimonials {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  color: #fff;
  /*background: #161619;*/
  position: relative;
}
.testimonials:before {
  content: "";
  width: 100%;
  height: 50px;
  /*background: #222327;*/
  position: absolute;
  left: 0;
  top: 0;
}
.testimonials .section-title {
  margin-bottom: 0;
}
.testimonials .testimonials-slider {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}
.testimonials .swiper-pagination {
  width: 100px;
  right: 80px;
  left: auto;
  bottom: 115px;
  text-align: right;
}
.testimonials .swiper-pagination-bullet {
  /*background: #222327;*/
}
.testimonials .swiper-pagination-bullet:hover {
  border-color: #222327;
}
.testimonials .swiper-pagination-bullet-active {
  border-color: #222327;
  background: none;
}
.testimonials .testimonial {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 80px;
  background: #FF9933;
  color: #222327;
}
.testimonials .testimonial blockquote {
  font-size: 21px;
  line-height: 1.7;
  font-weight: 300;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.testimonials .testimonial .reviewer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.testimonials .testimonial .reviewer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  float: left;
}
.testimonials .testimonial .reviewer .reviewer-infos {
  width: calc(100% - 65px);
  float: left;
}
.testimonials .testimonial .reviewer h6 {
  display: block;
  font-weight: 600;
}
.testimonials .testimonial .reviewer small {
  display: block;
}

/* TEAM */
.team {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 150px;
  padding-bottom: 100px;
  color: #fff;
  /*background: #161619;*/
  position: relative;
  z-index: 2;
}
.team:before {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
}
.team .reveal-effect.masker:after {
  /*background: #222327;*/
}
.team h5 {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}
.team figure {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: -100px;
}
.team figure:hover ul {
  opacity: 1;
  visibility: visible;
}
.team figure img {
  width: 100%;
}
.team figure figcaption {
  display: block;
  color: #222327;
  margin-top: 20px;
}
.team figure figcaption h6 {
  display: block;
  font-weight: 600;
}
.team figure figcaption small {
  display: block;
  opacity: 0.5;
}
.team figure ul {
  width: 80%;
  display: flex;
  margin: 10%;
  padding: 0;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 60px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.team figure ul li {
  flex: 1;
  margin: 0;
  padding: 10px 0;
  list-style: none;
  text-align: center;
  border-right: 1px solid #eee;
}
.team figure ul li:last-child {
  border-right: 0;
}
.team figure ul li a {
  color: #222327;
  font-size: 13px;
  padding: 5px;
}
.team figure ul li a:hover {
  color: #FF9933;
}



/* CASE STUDY */
.case-study {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
  background: #fff;
}
.case-study h6 {
  font-weight: 600;
  margin-top: 30px;
}
.case-study h5 {
  font-family: "Fjalla One", sans-serif;
  font-size: 5vw;
  text-align: center;
  margin-top: 50px;
  text-transform: uppercase;
}
.case-study p {
  margin-bottom: 20px;
  line-height: 1.5;
}
.case-study figure {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.case-study figure img {
  width: 100%;
}
.case-study figure video {
  width: 100%;
}
.case-study .container-fluid {
  margin-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

/* BLOG */
.blog {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
  background: #fff;
}
.blog .col-lg-9 {
  padding-right: 60px;
}
.blog .sidebar {
  width: 100%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}
.blog .sidebar .widget {
  width: 100%;
  display: block;
  border-left: 1px solid #eee;
  margin-bottom: 40px;
  padding-left: 30px;
  padding-bottom: 10px;
}
.blog .sidebar .widget .title {
  display: block;
  font-weight: 800;
  font-size: 19px;
  padding: 15px 0;
  position: relative;
}
.blog .sidebar .widget .title:before {
  content: "";
  width: 1px;
  height: 100%;
  /*background: #222327;*/
  position: absolute;
  left: -31px;
  top: 0;
}
.blog .sidebar .widget p {
  margin: 0;
}
.blog .sidebar .widget form {
  width: 100%;
}
.blog .sidebar .widget form input[type=text] {
  width: 100%;
  margin-bottom: 10px;
}
.blog .sidebar .widget .categories {
  width: 100%;
  margin: 0;
  padding: 0;
}
.blog .sidebar .widget .categories li {
  display: flex;
  flex-wrap: wrap;
  margin: 4px 0;
  padding: 0;
  list-style: none;
}
.blog .sidebar .widget .categories li span {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #ccc;
  color: #fff;
  margin-right: 15px;
  margin-left: 0;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
}
.blog .sidebar .widget .categories li a {
  color: #222327;
  margin-left: 0;
  font-weight: 600;
}
.blog .sidebar .widget .tags {
  width: 100%;
  display: block;
  margin-bottom: 0;
  padding: 0;
}
.blog .sidebar .widget .tags li {
  display: inline-block;
  list-style: none;
  margin-bottom: 5px;
}
.blog .sidebar .widget .tags li a {
  font-weight: 600;
  font-size: 11px;
  /*background: #222327;*/
  color: #fff;
  line-height: 1;
  padding: 3px 6px;
}
.blog .sidebar .widget .tags li a:hover {
  color: #FF9933;
  text-decoration: none;
}
.blog .sidebar .widget .mini-works {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.blog .sidebar .widget .mini-works li {
  width: 33.3333%;
  display: inline-block;
  margin: 0;
  padding: 4px;
  list-style: none;
}
.blog .post {
  width: 100%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px 0;
}
.blog .post.single {
  position: relative;
}
.blog .post.single .post-image {
  width: 100%;
  margin-bottom: 50px;
}
.blog .post.single .post-content {
  width: 100%;
  padding: 0 60px;
}
.blog .post.single .post-content .post-title {
  font-size: 4vw;
  line-height: 1.4;
}
.blog .post:nth-child(even) {
  position: relative;
}
.blog .post:nth-child(even) .post-image {
  order: 2;
}
.blog .post:nth-child(even) .post-image:before {
  right: auto;
  left: -25px;
}
.blog .post:nth-child(even) .post-content {
  order: 1;
  padding-right: 60px;
  padding-left: 0;
  text-align: right;
}
.blog .post .post-image {
  width: 45%;
  margin: 0;
  position: relative;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.1);
}
.blog .post .post-image img {
  position: relative;
  width: 100%;
}
.blog .post .post-image:before {
  content: "";
  width: 90%;
  height: 60%;
  position: absolute;
  right: -25px;
  bottom: -30px;
  z-index: 0;
  background: url(../images/dot-pattern.png) right;
  background-size: 10px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  opacity: 0.2;
}
.blog .post .post-content {
  width: 55%;
  padding-left: 60px;
}
.blog .post .post-content h5 {
  font-weight: 600;
  margin-top: 30px;
}
.blog .post .post-content ul {
  margin-bottom: 30px;
  padding-left: 20px;
}
.blog .post .post-content ul li {
  margin: 0;
}
.blog .post .post-content .social-share {
  width: 100%;
  float: left;
  padding: 0;
  margin-bottom: 40px;
  text-align: center;
}
.blog .post .post-content .social-share li {
  float: left;
  margin-right: 5px;
  padding: 0;
  list-style: none;
}
.blog .post .post-content .social-share li.facebook a {
  background: #475993;
}
.blog .post .post-content .social-share li.twitter a {
  background: #76a9ea;
}
.blog .post .post-content .social-share li.google-plus a {
  background: #f34a38;
}
.blog .post .post-content .social-share li.linkedin a {
  background: #0077b7;
}
.blog .post .post-content .social-share li.youtube a {
  background: #f61c0d;
}
.blog .post .post-content .social-share li a {
  width: 44px;
  height: 44px;
  line-height: 44px;
  float: left;
  /*background: #222327;*/
  color: #fff;
  border: none;
  border-radius: 0;
}
.blog .post .post-content .image-left {
  width: 40%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.blog .post .post-content .image-full {
  width: 100%;
  display: block;
  margin: 30px 0;
}
.blog .post .post-content .post-date {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  opacity: 0.5;
}
.blog .post .post-content .post-title {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-size: 3vw;
  font-weight: 800;
}
.blog .post .post-content .post-title a {
  color: #161619;
}
.blog .post .post-content .post-title a:hover {
  color: #FF9933;
  text-decoration: none;
}
.blog .post .post-content .post-author {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
.blog .post .post-content .post-author img {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 15px;
  border-radius: 50%;
}
.blog .post .post-content .post-author span {
  display: inline-block;
  color: #A7A7A7;
}
.blog .post .post-content .post-author span a {
  color: #222327;
  font-size: 15px;
}
.blog .post .post-content .post-author span a:hover {
  color: #222327;
}
.blog .post .post-content .post-categories {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  padding: 0;
}
.blog .post .post-content .post-categories li {
  display: inline-block;
  list-style: none;
}
.blog .post .post-content .post-categories li a {
  font-weight: 600;
  font-size: 11px;
  /*background: #222327;*/
  color: #fff;
  line-height: 1;
  padding: 3px 6px;
}
.blog .post .post-content .post-categories li a:hover {
  color: #FF9933;
  text-decoration: none;
}
.blog .post .post-content .post-link {
  font-family: "Fjalla One", sans-serif;
  border-bottom: 2px solid #222327;
  padding-bottom: 5px;
}
.blog .post .post-content .post-link:hover {
  color: #FF9933;
  text-decoration: none;
}

/* Copy */
.copy {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
}
.copy .col-lg-9 {
  padding-right: 60px;
}
.copy .sidebar {
  width: 100%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}
.copy .sidebar .widget {
  width: 100%;
  display: block;
  border-left: 1px solid #eee;
  margin-bottom: 40px;
  padding-left: 30px;
  padding-bottom: 10px;
}
.copy .sidebar .widget .title {
  display: block;
  font-weight: 800;
  font-size: 19px;
  padding: 15px 0;
  position: relative;
}
.copy .sidebar .widget .title:before {
  content: "";
  width: 1px;
  height: 100%;
  /*background: #222327;*/
  position: absolute;
  left: -31px;
  top: 0;
}
.copy .sidebar .widget p {
  margin: 0;
}
.copy .sidebar .widget form {
  width: 100%;
}
.copy .sidebar .widget form input[type=text] {
  width: 100%;
  margin-bottom: 10px;
}
.copy .sidebar .widget .categories {
  width: 100%;
  margin: 0;
  padding: 0;
}
.copy .sidebar .widget .categories li {
  display: flex;
  flex-wrap: wrap;
  margin: 4px 0;
  padding: 0;
  list-style: none;
}
.copy .sidebar .widget .categories li span {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #ccc;
  color: #fff;
  margin-right: 15px;
  margin-left: 0;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
}
.copy .sidebar .widget .categories li a {
  color: #222327;
  margin-left: 0;
  font-weight: 600;
}
.copy .sidebar .widget .tags {
  width: 100%;
  display: block;
  margin-bottom: 0;
  padding: 0;
}
.copy .sidebar .widget .tags li {
  display: inline-block;
  list-style: none;
  margin-bottom: 5px;
}
.copy .sidebar .widget .tags li a {
  font-weight: 600;
  font-size: 11px;
  /*background: #222327;*/
  color: #fff;
  line-height: 1;
  padding: 3px 6px;
}
.copy .sidebar .widget .tags li a:hover {
  color: #FF9933;
  text-decoration: none;
}
.copy .sidebar .widget .mini-works {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.copy .sidebar .widget .mini-works li {
  width: 33.3333%;
  display: inline-block;
  margin: 0;
  padding: 4px;
  list-style: none;
}
.copy .post {
  width: 100%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px 0;
}
.copy .post.single {
  position: relative;
}
.copy .post.single .post-image {
  width: 100%;
  margin-bottom: 50px;
}
.copy .post.single .post-content {
  width: 100%;
  padding: 0 60px;
}
.copy .post.single .post-content .post-title {
  font-size: 4vw;
  line-height: 1.4;
}
.copy .post:nth-child(even) {
  position: relative;
}
.copy .post:nth-child(even) .post-image {
  order: 2;
}
.copy .post:nth-child(even) .post-image:before {
  right: auto;
  left: -25px;
}
.copy .post:nth-child(even) .post-content {
  order: 1;
  padding-right: 60px;
  padding-left: 0;
  text-align: right;
}
.copy .post .post-image {
  width: 45%;
  margin: 0;
  position: relative;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.1);
}
.copy .post .post-image img {
  position: relative;
  width: 100%;
}
.copy .post .post-image:before {
  content: "";
  width: 90%;
  height: 60%;
  position: absolute;
  right: -25px;
  bottom: -30px;
  z-index: 0;
  background: url(../images/dot-pattern.png) right;
  background-size: 10px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  opacity: 0.2;
}
.copy .post .post-content {
  width: 55%;
  padding-left: 60px;
}
.copy .post .post-content h5 {
  font-weight: 600;
  margin-top: 30px;
}
.copy .post .post-content ul {
  margin-bottom: 30px;
  padding-left: 20px;
}
.copy .post .post-content ul li {
  margin: 0;
}
.copy .post .post-content .social-share {
  width: 100%;
  float: left;
  padding: 0;
  margin-bottom: 40px;
  text-align: center;
}
.copy .post .post-content .social-share li {
  float: left;
  margin-right: 5px;
  padding: 0;
  list-style: none;
}
.copy .post .post-content .social-share li.facebook a {
  background: #475993;
}
.copy .post .post-content .social-share li.twitter a {
  background: #76a9ea;
}
.copy .post .post-content .social-share li.google-plus a {
  background: #f34a38;
}
.copy .post .post-content .social-share li.linkedin a {
  background: #0077b7;
}
.copy .post .post-content .social-share li.youtube a {
  background: #f61c0d;
}
.copy .post .post-content .social-share li a {
  width: 44px;
  height: 44px;
  line-height: 44px;
  float: left;
  /*background: #222327;*/
  color: #fff;
  border: none;
  border-radius: 0;
}
.copy .post .post-content .image-left {
  width: 40%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.copy .post .post-content .image-full {
  width: 100%;
  display: block;
  margin: 30px 0;
}
.copy .post .post-content .post-date {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  opacity: 0.5;
}
.copy .post .post-content .post-title {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-size: 3vw;
  font-weight: 800;
}
.copy .post .post-content .post-title a {
  color: #161619;
}
.copy .post .post-content .post-title a:hover {
  color: #FF9933;
  text-decoration: none;
}
.copy .post .post-content .post-author {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
.copy .post .post-content .post-author img {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 15px;
  border-radius: 50%;
}
.copy .post .post-content .post-author span {
  display: inline-block;
  color: #A7A7A7;
}
.copy .post .post-content .post-author span a {
  color: #222327;
  font-size: 15px;
}
.copy .post .post-content .post-author span a:hover {
  color: #222327;
}
.copy .post .post-content .post-categories {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  padding: 0;
}
.copy .post .post-content .post-categories li {
  display: inline-block;
  list-style: none;
}
.copy .post .post-content .post-categories li a {
  font-weight: 600;
  font-size: 11px;
  /*background: #222327;*/
  color: #fff;
  line-height: 1;
  padding: 3px 6px;
}
.copy .post .post-content .post-categories li a:hover {
  color: #FF9933;
  text-decoration: none;
}
.copy .post .post-content .post-link {
  font-family: "Fjalla One", sans-serif;
  border-bottom: 2px solid #222327;
  padding-bottom: 5px;
}
.copy .post .post-content .post-link:hover {
  color: #FF9933;
  text-decoration: none;
}


/* CLIENTS */
.clients {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
  background: #fff;
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.3);
}
.clients ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.clients ul li {
  width: 33.33333%;
  margin: 0;
  padding: 40px;
  list-style: none;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
}

/* CONTACT */
.contact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
  background: #fff;
}
.contact h6 {
  font-weight: 600;
  margin-top: 30px;
}
.contact address {
  display: block;
}
.contact address p {
  margin: 0;
}
.contact address a {
  text-decoration: underline;
}
.contact .contact-form {
  width: 100%;
  display: block;
}
.contact .contact-form #contact {
  display: block;
}
.contact .contact-form #contact .form-group {
  display: block;
  position: relative;
  margin-bottom: 35px;
}
.contact .contact-form #contact .form-group span {
  width: 100%;
  line-height: 58px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 20px;
  z-index: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.contact .contact-form #contact .form-group span.label-up {
  font-size: 13px;
  line-height: 16px;
  top: -20px;
  font-weight: 600;
}
.contact .contact-form #contact .form-group input[type=text] {
  width: 400px;
  background: none;
  position: relative;
  z-index: 2;
}

.contact .contact-form #contact .form-group button {
  font-size: 13px;
  line-height: 16px;
  top: -20px;
  background-color: #FF9933;
  color: black;
  font-weight: 600;
}
.contact .contact-form #contact .form-group input:focus + span {
  font-size: 13px;
  line-height: 16px;
  top: -20px;
  font-weight: 600;
}
.contact .contact-form #contact .form-group textarea {
  width: 500px;
  background: none;
  position: relative;
  z-index: 2;
}
.contact .contact-form #contact .form-group textarea:focus + span {
  font-size: 13px;
  line-height: 16px;
  top: -20px;
  font-weight: 600;
}
.contact .contact-form #contact .form-group label.error {
  width: 100%;
  color: red;
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 13px;
}
.contact .contact-form #success, .contact .contact-form #error {
  display: none;
  float: left;
}
.contact .contact-form #error {
  background: red;
  color: #fff;
}
.contact .contact-form #success {
  background: green;
  color: #fff;
}
.contact .contact-form .alert {
  border: none;
  border-radius: 0;
  padding: 20px 30px;
}
.contact .map {
  width: 80%;
  height: 400px;
  display: block;
  /*background: #222327;*/
}
.contact .map iframe {
  width: 100%;
  height: 100%;
  border: none;
}



    
/* MEDIUM FIXES */  
@media only screen and (max-width: 1199px), only screen and (max-device-width: 1199px) {

  .work-with-us h2 {
    padding-right: 0;
  }

  .work-with-us h4 {
    padding-right: 0;
  }

  
  .intro h4 {
    padding-right: 0;
  }

  
}

/* RESPONSIVE TABLET FIXES */
@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {

  .intro {
    padding: 80px 0;
  }

  .intro h2 {
    padding-right: 0;
    margin-bottom: 50px;
  }
  .intro h2:before {
    padding-right: 0;
    margin-bottom: 50px;
  }
  .intro h2:before {
    padding-right: 0;
    margin-bottom: 50px;
  }

  .intro .custom-link {
    transform: translateY(0);
  }


  .work-with-us {
    padding: 80px 0;
  }

  .works {
    padding: 80px 0;
  }

  .works h2 {
    padding-right: 0;
    margin-bottom: 50px;
  }
  .works h2:before {
    padding-right: 0;
    margin-bottom: 50px;
  }
  .works h2:after {
    padding-right: 0;
    margin-bottom: 50px;
  }

  .works .project-box {
    padding: 35px 0;
  }

  
  .services-content-block {
    padding: 80px 0;
  }

  .services-content-block h2 {
    padding-right: 0;
  }

  .services-content-block .left {
    width: 100%;
    margin-bottom: 20px;
  }

  .services-content-block .right {
    width: 100%;
  }
  
  .works ul li {
    width: 50%; }

  .works.four-cols ul li {
    width: 33.33333%; }
  
  
  .intro h3 {
      font-size: 8vw;
      margin-bottom: 50px;
    }

  .intro h3:before {
    font-size: 8vw;
    margin-bottom: 50px;
  }
  .intro h3:after {
    font-size: 8vw;
    margin-bottom: 50px;
  }

  .section-title {
    font-size: 8vw;
    margin-bottom: 50px;
  }

  .page-header .inner {
    padding-left: 160px;
  }

  .all-cases .inner {
    padding-left: 160px;
  }

  .social-media .inner ul li {
    font-size: 4vw;
  }

  .all-cases .inner ul li {
    font-size: 10vw;
  }

 
  .slider .gallery-thumbs .swiper-slide-active span {
    width: 100%;
    font-size: 8vw;
    line-height: 11vw;
  }

  .intro .col-lg-7 {
    padding-left: 15px;
    margin-top: 50px;
  }

  .text-content-block {
    padding: 80px 0;
  }

  .intro-image {
    padding-bottom: 80px;
  }

  .icon-content-block .col-lg-3:nth-child(3) {
    margin-top: 0;
  }

  .icon-content-block .content-block {
    padding: 30px 20px;
  }

  

  .testimonials {
    margin-top: 80px;
  }

  .testimonials:before {
    display: none;
  }

  .testimonials .col-lg-6:first-child {
    order: 2;
  }

  .testimonials .col-lg-6:last-child {
    order: 1;
  }

  .testimonials .testimonials-slider {
    margin-top: 40px;
    width: 100%;
  }

  .testimonials .swiper-pagination {
    bottom: 65px;
  }

  .testimonials .testimonial {
    padding: 50px 80px;
  }

  .testimonials .section-title {
    margin-top: 80px;
  }

  .team {
    padding: 80px 0;
  }

  .team:before {
    display: none;
  }

  .team .col {
    width: 33.33333%;
    flex-basis: auto;
    flex-grow: inherit;
  }

  .team figure {
    margin: 30px 0;
  }

  .team figure figcaption {
    color: #fff;
  }

  .team h5 {
    margin-bottom: 40px;
    margin-top: 0;
  }

  .intro {
    padding: 80px 0;
  }

  .clients {
    padding: 80px 0;
  }

  .blog {
    padding: 30px 0;
  }

  .blog .col-lg-9 {
    padding-right: 15px;
  }

  .copy {
    padding: 30px 0;
  }

  .copy .col-lg-9 {
    padding-right: 15px;
  }

  .contact {
    padding: 80px 0;
  }

  .contact .map {
    width: 100%;
    margin: 50px 0;
  }

  .contact .contact-form {
    margin-top: 30px;
  }

  .works ul li figure figcaption small {
    font-size: 1.5vw; 
    }

}
/* RESPONSIVE MOBILE FIXES */
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {

  .icon-content-block h3 {
    font-size: 8vw;
  }
  .icon-content-block h3:before {
    font-size: 8vw; }
  .icon-content-block h3:after {
    font-size: 8vw;}

    .works ul li figure figcaption small {
      font-size: 3vw; 
      }


  .intro h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .intro h2:before {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .intro h2:after {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .intro h4 {
    margin-bottom: 20px;
  }

  .intro p {
    font-size: 18px;
    line-height: 30px;
  }

  .work-with-us h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .works h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .works h2:before {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .works h2:after {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .works .project-box {
    flex-direction: column;
  }

  .works .project-box figure {
    width: 100%;
    margin-bottom: 20px;
  }

  .works .project-box:nth-child(2n+2) figure {
    order: 0;
  }

  .works .project-box:nth-child(2n+2) .content-box {
    text-align: left;
  }

  .works .project-box:nth-child(2n+2) .custom-link a {
    float: left;
  }

  .works .project-box .content-box {
    width: 100%;
    padding-left: 0;
  }

  .works .project-box .content-box .inner small {
    margin-bottom: 5px;
  }

  .works .project-box .content-box .inner h3 {
    margin-bottom: 30px;
  }

  .works .project-box .content-box .inner h3 span {
    margin-left: 0;
    font-size: 12vw;
  }

  .services-content-block .col-md-4:nth-child(3) {
    margin: 40px 0;
  }

  .services-content-block h2 {
    font-size: 32px;
    margin-bottom: 60px;
  }

  .footer {
    padding-top: 80px; }
  
  .footer h2 {
    font-size: 40px; }
  

  .works {
    padding-top: 80px;
    padding-bottom: 0; }

  .works ul li {
    width: 100%;
    margin-top: 0 !important;
    margin-bottom: 80px;
    padding: 0 12%; }

  .works ul li figure figcaption {
    padding-bottom: 30px; }

  .works.two-cols ul li {
    width: 100%; }

  .works.four-cols ul li {
    width: 100%; }

  .works.four-cols ul li figure figcaption {
    padding-bottom: 30px; }


  .filter-bar .works-filter {
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 0 20px; }

  .filter-bar .works-filter li {
    float: none;
    display: inline-block;
    margin: 0 10px; }
  
  
  .section-title {
    font-size: 9vw;
    margin-bottom: 40px;
  }

  .slider .gallery-thumbs {
    width: 100%;
    margin: 0;
  }

  .page-header .inner {
    padding-left: 100px;
  }

  .page-header .inner p {
    font-size: 17px;
    padding-right: 10%;
  }

  .all-cases .inner {
    padding-left: 100px;
  }

  .all-cases .inner ul li {
    font-size: 13vw;
  }

  .site-navigation .inner {
    padding-left: 0;
  }

  .site-navigation .inner ul li {
    line-height: 1;
  }

  .site-navigation .inner ul li a {
    font-size: 34px;
  }

  .site-navigation .inner ul li i {
    font-size: 20px;
    margin-left: 13px;
  }

  .site-navigation .inner ul li small {
    display: none;
  }

  .site-navigation .inner ul li ul {
    margin-top: 10px;
  }

  .site-navigation .inner ul li ul li a {
    font-size: 22px;
  }

  .left-side {
    width: 80px;
    border-right: none;
  }

  .left-side .follow-us {
    display: none;
  }

  .slide-progress {
    display: none;
  }

  .all-cases-link {
    right: 15px;
  }

  .swiper-button-next {
    right: 20px;
  }

  .swiper-button-prev {
    right: 90px;
  }

  .icon-content-block .col-lg-3:nth-child(3) {
    margin: 50px 0;
  }

  .icon-content-block .content-block {
    padding: 0;
  }

  .icon-content-block .content-block.selected {
    background: none;
    box-shadow: none;
  }

  .icon-content-block .content-block.selected:before {
    display: none;
  }

  .testimonials .testimonial {
    padding: 70px 50px;
  }

  .testimonials .swiper-pagination {
    bottom: 85px;
  }

  .team .col {
    width: 50%;
    flex-basis: 50%;
    flex-grow: inherit;
  }

  .team figure {
    display: block;
    height: auto;
  }

  .team figure img {
    height: auto;
    object-fit: cover;
  }



  .clients ul li {
    padding: 30px 20px;
    width: 50%;
  }

  .clients ul li:last-child {
    display: none;
  }

  .blog .post .post-image {
    width: 100%;
    margin-bottom: 40px;
  }

  .blog .post .post-content {
    width: 100%;
    padding: 0 !important;
  }

  .blog .post:nth-child(even) {
    text-align: left;
  }

  .blog .post:nth-child(even) .post-image {
    order: 1;
  }

  .blog .post:nth-child(even) .post-content {
    order: 2;
    text-align: left;
  }

  .blog .post .post-content .post-title {
    font-size: 7vw;
  }

  .blog .post.single .post-content .post-title {
    font-size: 8vw;
  }


  .copy .post .post-image {
    width: 100%;
    margin-bottom: 40px;
  }

  .copy .post .post-content {
    width: 100%;
    padding: 0 !important;
  }

  .copy .post:nth-child(even) {
    text-align: left;
  }

  .copy .post:nth-child(even) .post-image {
    order: 1;
  }

  .copy .post:nth-child(even) .post-content {
    order: 2;
    text-align: left;
  }

  .copy .post .post-content .post-title {
    font-size: 7vw;
  }

  .copy .post.single .post-content .post-title {
    font-size: 8vw;
  }

  
}
/* ANIMATIONS */
@keyframes texteffect {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes texteffect {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes show-img-1 {
  0%, 66.6% {
    visibility: hidden;
  }
  100%, 66.7% {
    visibility: visible;
  }
}
@keyframes show-img-1 {
  0%, 66.6% {
    visibility: hidden;
  }
  100%, 66.7% {
    visibility: visible;
  }
}
@-webkit-keyframes slide-bg-2 {
  33.3% {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0.05, 1);
    transform: scale(0.05, 1);
  }
  66.6% {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  66.7% {
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
  }
}
@keyframes slide-bg-2 {
  33.3% {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0.05, 1);
    transform: scale(0.05, 1);
  }
  66.6% {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  66.7% {
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
  }
}




/*# sourceMappingURL=style.css.map */
