@charset "UTF-8";
/*

@Author: Themezinho
@URL: http://www.themezinho.net
 
This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.


	// Table of contents //

		01. FONTS
		02. BODY
		03. LINKS
		04. HTML TAGS
		05. HEADLINES
		06. FORM ELEMENTS
		07. CUSTOM CLASSES
		08. SPACINGS
		09. PAGINATION
		10. HAMBURGER
		11. CUSTOM CONTAINER
		12. PAGE TRANSITION
		13. SEARCH BOX
		14. SIDE WIDGET 
		15. NAVBAR
		16. SLIDER
		17. PAGE HEADER
		18. CONTENT SECTION
		19. SECTION TITLE
		20. CUTOM BUTTON
		21. SIDE CONTENT
		22. RESERVATION FORM
		23. DATE PICKER
		24. ICON BOX
		25. MENU PACK BOX
		26. SIDE MENU LIST
		27. SERVICE BOX
		28. HEAD CHEF IMAGE
		29. VIDEO BOX
		30. PHOTO GALLERY
		31. TESTIMONIALS SLIDER
		32. MENU LIST
		33. TAB CONTENT
		34. TAB DISHES
		35. RECENT NEWS
		36. NEWS BOX
		37.SIDEBAR
		38.TEAM MEMBER
		39.MENU IMAGES SLIDER
		40.DELIVERY FORM
		41.CONTACT BOX
		42.CONTACT FORM
		43.ERROR 404
		44.INSTAGRAM FEED
		45.FOOTER
		46. RESPONSIVE MEDIUM FIXES
		47. RESPONSIVE TABLET FIXES
		48. RESPONSIVE MOBILE FIXES

	

*/
@font-face {
  font-family: 'Ogg-Roman';
  src: url("../fonts/Ogg-Roman.eot");
  src: local("☺"), url("../fonts/Ogg-Roman.woff") format("woff"), url("../fonts/Ogg-Roman.ttf") format("truetype"), url("../fonts/Ogg-Roman.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Architectural';
  src: url("../fonts/Architectural.eot");
  src: url("../fonts/Architecturald41d.eot?#iefix") format("embedded-opentype"), url("../fonts/Architectural.woff2") format("woff2"), url("../fonts/Architectural.woff") format("woff"), url("../fonts/Architectural.ttf") format("truetype"), url("../fonts/Architectural.html#Mathline") format("svg");
  font-weight: normal;
  font-style: normal; }
/* BODY */
* {
  outline: none !important; }

body {
  margin: 0;
  padding: 0;
  font-family: "OGG-Roman";
  color: #131313;
  letter-spacing: 1px;
  font-size: 17px; }

/* LINKS */
a {
  color: #131313; }

a:hover {
  text-decoration: underline;
  color: #131313; }

/* HTML TAGS */
img {
  max-width: 100%; }

figure {
  margin-bottom: 20px; }

/* HEADLINES */
h5 {
  line-height: 1.7;
  margin-bottom: 30px; }

/* FORM ELEMENTS */
input[type="text"], input[type="email"], input[type="search"], input[type="password"], input[type="date"], input[type="time"] {
  width: 420px;
  max-width: 100%;
  height: 68px;
  border: 2px solid #e8e8e8;
  padding: 0 30px; }

input[type="submit"], input[type="button"], button[type="button"], button[type="submit"] {
  height: 68px;
  border: none;
  background: #c58f59;
  color: #131313;
  font-weight: 800;
  font-size: 13px;
  padding: 0 50px;
  letter-spacing: 1px; }

textarea {
  width: 420px;
  max-width: 100%;
  height: 128px;
  border: 2px solid #e8e8e8;
  padding: 30px; }

select {
  width: 420px;
  max-width: 100%;
  height: 68px;
  border: 2px solid #e8e8e8;
  padding: 0 25px;
  background: #fff; }

/* CUSTOM CLASSES */
.overflow {
  overflow: hidden; }

.clearfix {
  width: 100%;
  float: left; }

/* SPACINGS */
.no-spacing {
  margin: 0 !important;
  padding: 0 !important; }

.no-bottom-spacing {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important; }

/* PAGINATION */
.pagination {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0; }
  .pagination .page-item {
    display: inline-block; }
    .pagination .page-item .page-link {
      height: 60px;
      line-height: 60px;
      padding: 0 40px;
      border-radius: 0 !important;
      font-size: 12px;
      font-weight: 600;
      color: #131313;
      outline: none !important; }
      .pagination .page-item .page-link:focus {
        outline: none !important; }

/* HAMBURGER */
.hamburger {
  width: 38px;
  height: 34px;
  position: relative;
  cursor: pointer;
  display: inline-block; }
  .hamburger #hamburger {
    position: absolute;
    height: 100%;
    width: 100%; }
    .hamburger #hamburger span {
      width: 70%;
      height: 2px;
      position: absolute;
      right: 0;
      transition: width ease 0.25s;
      background: #fff; }
      .hamburger #hamburger span:nth-child(1) {
        transition-delay: .5s;
        top: 6px; }
      .hamburger #hamburger span:nth-child(2) {
        transition-delay: .625s;
        top: 15px;
        left: 0;
        right: auto; }
      .hamburger #hamburger span:nth-child(3) {
        transition-delay: .75s;
        top: 24px; }
  .hamburger #cross {
    position: absolute;
    height: 34px;
    width: 34px;
    transform: rotate(45deg);
    left: 4px;
    top: 0; }
    .hamburger #cross span {
      background: #fff; }
      .hamburger #cross span:nth-child(1) {
        height: 0%;
        width: 2px;
        position: absolute;
        top: 0;
        right: 16px;
        transition-delay: 0s;
        transition: height ease 0.25s; }
      .hamburger #cross span:nth-child(2) {
        width: 0%;
        height: 2px;
        position: absolute;
        left: 0;
        top: 16px;
        transition-delay: .25s;
        transition: width ease 0.25s; }

.hamburger.open #hamburger span {
  width: 0%; }
  .hamburger.open #hamburger span:nth-child(1) {
    transition-delay: 0s; }
  .hamburger.open #hamburger span:nth-child(2) {
    transition-delay: .125s; }
  .hamburger.open #hamburger span:nth-child(3) {
    transition-delay: .25s; }
.hamburger.open #cross span:nth-child(1) {
  height: 100%;
  transition-delay: .625s; }
.hamburger.open #cross span:nth-child(2) {
  width: 100%;
  transition-delay: .375s; }

/* CUSTOM CONTAINER */
@media (min-width: 1170px) {
  .container {
    max-width: 1100px; } }
@media (min-width: 1280px) {
  .container {
    max-width: 1260px; } }
/* PAGE TRANSITION */
.first-transition {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9;
  right: 0;
  bottom: 0;
  background: #c58f59;
  animation: first-transition 1s;
  animation-fill-mode: forwards; }

@keyframes first-transition {
  from {
    bottom: 0; }
  to {
    bottom: -100%; } }
.page-transition {
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  background: #c58f59;
  transition: all ease 1s; }
  .page-transition.active {
    height: 100%; }

/* SEARCH BOX */
.search-box {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background: #131313;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 0;
  visibility: hidden;
  color: #fff; }
  .search-box .inner {
    width: 50vw;
    max-width: 700px;
    margin: 0 auto;
    text-align: center; }
    .search-box .inner form {
      width: 100%;
      display: block; }
      .search-box .inner form input[type="search"] {
        width: 100%;
        height: 70px;
        border: 4px solid #232222;
        background: none;
        font-size: 20px;
        margin-bottom: 30px;
        color: #fff; }
      .search-box .inner form input[type="submit"] {
        height: 70px;
        background: #c58f59;
        border: none;
        font-weight: 600;
        padding: 0 60px; }
  .search-box.active {
    opacity: 1;
    visibility: visible; }

/* SIDE WIDGET */
.side-widget {
  width: 400px;
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  left: -100%;
  top: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  background: #232222;
  z-index: 8;
  box-shadow: 0 0 60px #000;
  padding: 20px 30px;
  color: #fff; }
  .side-widget .inner {
    display: inline-block;
    overflow: auto; }
  .side-widget .logo {
    width: 100%;
    display: block;
    margin-bottom: 40px; }
    .side-widget .logo img {
      height: 40px; }
  .side-widget .show-mobile {
    display: none; }
  .side-widget .hide-mobile {
    display: block; }
  .side-widget iframe {
    width: 100%;
    height: 180px;
    border: 3px solid #c58f59; }
  .side-widget p {
    width: 100%;
    display: block; }
  .side-widget .widget-title {
    width: 100%;
    display: block;
    font-weight: 600;
    color: #c58f59;
    line-height: 1;
    font-family: Architectural;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 20px; }
  .side-widget .address {
    width: 100%;
    display: block;
    margin-top: 10px; }
  .side-widget .social-media {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0; }
    .side-widget .social-media li {
      display: inline-block;
      margin-right: 20px;
      padding: 0;
      list-style: none; }
      .side-widget .social-media li a {
        color: #fff;
        font-size: 13px;
        font-weight: 600; }
  .side-widget .languages {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px; }
    .side-widget .languages ul {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0; }
      .side-widget .languages ul li {
        display: inline-block;
        margin-right: 10px;
        padding: 0;
        list-style: none; }
        .side-widget .languages ul li a {
          color: #fff;
          font-weight: 600;
          font-size: 18px; }
  .side-widget .site-menu {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px; }
    .side-widget .site-menu ul {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0; }
      .side-widget .site-menu ul li {
        display: block;
        margin: 3px 0;
        padding: 0;
        list-style: none; }
        .side-widget .site-menu ul li ul {
          display: none;
          padding-left: 10px;
          margin-bottom: 10px; }
        .side-widget .site-menu ul li i {
          display: inline-block;
          margin-left: 7px; }
        .side-widget .site-menu ul li a {
          color: #fff;
          font-size: 18px;
          font-weight: 600; }
  .side-widget small {
    font-size: 11px;
    width: 100%;
    display: block;
    margin-top: 20px; }
  .side-widget.active {
    left: 0; }

/* NAVBAR */
.navbar {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  padding: 20px 60px;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }
  .navbar.sticky {
    background: #131313; }
  .navbar.nav-down {
    top: 0; }
  .navbar.nav-up {
    transform: translateY(-100%); }
  .navbar .logo {
    margin-left: 0;
    margin-right: 50px; }
    .navbar .logo a {
      display: inline-block; }
      .navbar .logo a img {
        height: 50px; }
  .navbar .custom-menu {
    display: inline-block;
    margin: 0 20px; }
    .navbar .custom-menu ul {
      margin: 0;
      padding: 0; }
      .navbar .custom-menu ul li {
        display: inline-block;
        margin: 0 5px;
        padding: 0;
        list-style: none; }
        .navbar .custom-menu ul li a {
          color: #fff;
          display: inline-block;
          position: relative;
          padding: 2px 0; }
          .navbar .custom-menu ul li a:hover {
            text-decoration: none; }
          .navbar .custom-menu ul li a:hover:after {
            bottom: 0;
            opacity: 1; }
          .navbar .custom-menu ul li a:after {
            content: "";
            width: 100%;
            height: 3px;
            background: #c58f59;
            position: absolute;
            left: 0;
            bottom: -3px;
            opacity: 0;
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out; }
  .navbar .site-menu {
    display: inline-block;
    margin: 0 auto; }
    .navbar .site-menu ul {
      margin: 0;
      padding: 0;
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out; }
      .navbar .site-menu ul li {
        display: inline-block;
        margin: 0 15px;
        padding: 0;
        list-style: none;
        position: relative; }
        .navbar .site-menu ul li:hover ul {
          opacity: 1;
          transform: translateY(0);
          visibility: visible; }
        .navbar .site-menu ul li ul {
          min-width: 140px;
          position: absolute;
          left: -25px;
          top: calc(100% + 20px);
          background: #c58f59;
          white-space: nowrap;
          padding: 20px 0;
          opacity: 0;
          transform: translateY(10px);
          visibility: hidden; }
          .navbar .site-menu ul li ul:before {
            content: "";
            width: 100%;
            height: 20px;
            position: absolute;
            left: 0;
            top: -20px; }
          .navbar .site-menu ul li ul li {
            width: 100%;
            display: block;
            padding: 0 25px;
            margin: 0; }
            .navbar .site-menu ul li ul li a {
              display: inline-block; }
              .navbar .site-menu ul li ul li a:after {
                display: none; }
              .navbar .site-menu ul li ul li a:hover {
                text-decoration: underline; }
        .navbar .site-menu ul li a {
          color: #fff;
          display: inline-block;
          position: relative;
          padding: 2px 0; }
          .navbar .site-menu ul li a:hover {
            text-decoration: none; }
          .navbar .site-menu ul li a:hover:after {
            bottom: 0;
            opacity: 1; }
          .navbar .site-menu ul li a:after {
            content: "";
            width: 100%;
            height: 3px;
            background: #c58f59;
            position: absolute;
            left: 0;
            bottom: -3px;
            opacity: 0;
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out; }
  .navbar .search {
    display: inline-block;
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0; }
  .navbar .hamburger {
    display: inline-block;
    color: #fff;
    margin-left: 20px;
    margin-right: 0; }
  .navbar .navbar-button {
    margin-left: 20px;
    color: #fff;
    cursor: pointer; }
    .navbar .navbar-button img {
      height: 26px; }

/* SLIDER */
.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background: #131313; }
  .slider .main-slider {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden; }
    .slider .main-slider .swiper-slide {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
      color: #fff;
      overflow: hidden; }
      .slider .main-slider .swiper-slide .slide-inner {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center; }
        .slider .main-slider .swiper-slide .slide-inner figure {
          width: 100%;
          display: block;
          margin-bottom: 20px; }
          .slider .main-slider .swiper-slide .slide-inner figure img {
            height: 22px;
            display: inline-block; }
        .slider .main-slider .swiper-slide .slide-inner h6 {
          font-family: Architectural;
          color: #c58f59;
          font-size: 39px;
          letter-spacing: 9px; }
        .slider .main-slider .swiper-slide .slide-inner h1 {
          font-size: 68px;
          margin-bottom: 45px; }
        .slider .main-slider .swiper-slide .slide-inner a {
          color: #fff;
          padding: 20px 35px;
          position: relative; }
          .slider .main-slider .swiper-slide .slide-inner a:before {
            content: "";
            width: 100%;
            height: 4px;
            background: #c58f59;
            position: absolute;
            left: 0;
            bottom: 0;
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out; }
          .slider .main-slider .swiper-slide .slide-inner a:hover {
            text-decoration: none; }
            .slider .main-slider .swiper-slide .slide-inner a:hover:before {
              height: 100%; }
          .slider .main-slider .swiper-slide .slide-inner a span {
            display: inline-block;
            position: relative; }
    .slider .main-slider .button-prev {
      width: 54px;
      height: 54px;
      line-height: 54px;
      display: inline-block;
      background: #c58f59;
      text-align: center;
      color: #fff;
      border-radius: 50%;
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out;
      position: absolute;
      left: 60px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1; }
      .slider .main-slider .button-prev:hover {
        color: #c58f59;
        background: #f0e8d9; }
    .slider .main-slider .button-next {
      width: 54px;
      height: 54px;
      line-height: 54px;
      display: inline-block;
      background: #c58f59;
      text-align: center;
      color: #fff;
      border-radius: 50%;
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out;
      position: absolute;
      right: 60px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1; }
      .slider .main-slider .button-next:hover {
        color: #c58f59;
        background: #f0e8d9; }
    .slider .main-slider .bottom-bar {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 30px 60px;
      z-index: 2;
      color: #fff; }
      .slider .main-slider .bottom-bar .social-media {
        width: 40%; }
        .slider .main-slider .bottom-bar .social-media span {
          display: inline-block;
          margin-right: 5px; }
        .slider .main-slider .bottom-bar .social-media ul {
          display: inline-block;
          margin: 0;
          padding: 0; }
          .slider .main-slider .bottom-bar .social-media ul li {
            display: inline-block;
            margin-right: 7px;
            padding: 0;
            list-style: none; }
            .slider .main-slider .bottom-bar .social-media ul li a {
              color: #fff;
              font-size: 13px;
              -webkit-transition: all .25s ease-in-out;
              -moz-transition: all .25s ease-in-out;
              -ms-transition: all .25s ease-in-out;
              -o-transition: all .25s ease-in-out;
              transition: all .25s ease-in-out; }
              .slider .main-slider .bottom-bar .social-media ul li a:hover {
                color: #c58f59; }
      .slider .main-slider .bottom-bar .fraction {
        width: 20%;
        position: static;
        text-align: center; }
      .slider .main-slider .bottom-bar .phone {
        width: 40%;
        display: inline-block;
        text-align: right; }
        .slider .main-slider .bottom-bar .phone span {
          display: inline-block; }
        .slider .main-slider .bottom-bar .phone a {
          color: #fff;
          display: inline-block;
          position: relative;
          padding: 2px 0; }
          .slider .main-slider .bottom-bar .phone a:hover {
            text-decoration: none; }
          .slider .main-slider .bottom-bar .phone a:hover:after {
            bottom: 0;
            opacity: 1; }
          .slider .main-slider .bottom-bar .phone a:after {
            content: "";
            width: 100%;
            height: 3px;
            background: #c58f59;
            position: absolute;
            left: 0;
            bottom: -3px;
            opacity: 0;
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out; }

/* PAGE HEADER */
.page-header {
  width: 100%;
  height: 540px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("../images/page-header-bg.jpg");
  background-color: #131313;
  background-size: cover; }
  .page-header .container {
    position: relative;
    color: #fff;
    padding-top: 90px; }
    .page-header .container h1 {
      font-size: 110px;
      font-family: Architectural; }
    .page-header .container h6 {
      width: 100%;
      display: block;
      margin: 0;
      font-size: 20px; }

/* CONTENT SECTION */
.content-section {
  width: 100%;
  display: block;
  padding: 100px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.bg-contain {
  background-size: contain !important; }

/* SECTION TITLE */
.section-title {
  width: 100%;
  display: block;
  margin-bottom: 50px;
  text-align: center; }
  .section-title .title-shape {
    height: 18px;
    margin-top: 20px;
    display: inline-block; }
  .section-title h6 {
    font-size: 40px;
    color: #c58f59;
    color: #c58f59;
    font-family: Architectural;
    margin: 0; }
  .section-title h2 {
    font-size: 50px;
    line-height: 1;
    margin: 0; }

/* CUSTOM BUTTON */
.custom-button {
  height: 64px;
  line-height: 68px;
  display: inline-block;
  padding: 0 46px;
  color: #fff;
  font-family: Architectural;
  font-size: 30px;
  border: 2px solid #c58f59;
  color: #c58f59;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }
  .custom-button:hover {
    background: #c58f59;
    color: #fff;
    text-decoration: none; }

/* SIDE CONTENT */
.side-content {
  width: 100%;
  display: block;
  padding-right: 10%; }
  .side-content h6 {
    font-size: 60px;
    color: #c58f59;
    color: #c58f59;
    font-family: Architectural;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .side-content h3 {
    font-size: 56px;
    margin-bottom: 30px; }
  .side-content p {
    width: 100%;
    display: block;
    padding-right: 10%;
    line-height: 1.7;
    margin-bottom: 30px; }
  .side-content .thumbs {
    width: 80%;
    display: block;
    margin: 0;
    padding: 0; }
    .side-content .thumbs li {
      width: 47%;
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none; }
      .side-content .thumbs li img {
        width: 100%; }
      .side-content .thumbs li a {
        display: block; }

/* RESERVATION FORM */
.reservation-form {
  width: 100%;
  display: block;
  padding: 100px;
  background: url("../images/pattern-bg.png") #c58f59;
  color: #fff; }
  .reservation-form h3 {
    width: 100%;
    display: block;
    font-size: 60px;
    font-family: Architectural;
    margin-bottom: 30px; }
  .reservation-form .form-group {
    width: 100%;
    display: block; }
    .reservation-form .form-group:last-child {
      margin-bottom: 0; }
    .reservation-form .form-group select {
      width: 70%;
      border: none; }
    .reservation-form .form-group input[type="text"] {
      border: none; }
    .reservation-form .form-group .date {
      width: 40%;
      margin-right: 10px;
      border: none; }
    .reservation-form .form-group .time {
      width: 40%;
      border: none; }
    .reservation-form .form-group input[type="submit"] {
      border: 2px solid #fff;
      color: #fff; }

/* DATE PICKER */
.datepicker-dropdown {
  border: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); }

.datepicker-panel > ul > li.picked, .datepicker-panel > ul > li.picked:hover {
  color: #c58f59; }

.datepicker-panel > ul > li.highlighted {
  background-color: #f0e8d9; }

.datepicker-panel > ul > li:hover {
  background-color: #f0e8d9; }

/* ICON BOX*/
.icon-box {
  width: 100%;
  display: block;
  margin: 15px 0;
  padding: 0 10%;
  text-align: center; }
  .icon-box figure {
    width: 100%;
    display: block;
    margin-bottom: 20px; }
    .icon-box figure img {
      height: 70px; }
  .icon-box h6 {
    font-size: 34px;
    color: #c58f59;
    margin-bottom: 10px;
    font-family: Architectural;
    line-height: 1; }

/* MENU PACK BOX */
.menu-pack-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  .menu-pack-box:hover .content {
    max-height: 320px;
    height: auto; }
  .menu-pack-box:hover figure img {
    transform: scale(1.05);
    opacity: 1; }
  .menu-pack-box figure {
    width: 100%;
    display: block;
    margin: 0;
    padding-bottom: 30px;
    overflow: hidden;
    background: #131313; }
    .menu-pack-box figure img {
      width: 100%;
      float: left;
      opacity: 0.6;
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out; }
  .menu-pack-box .content {
    width: 80%;
    max-height: 100px;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out; }
    .menu-pack-box .content h5 {
      font-size: 54px;
      margin-bottom: 10px;
      font-family: Architectural;
      line-height: 1;
      color: #c58f59; }
    .menu-pack-box .content ul {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      padding: 0; }
      .menu-pack-box .content ul li {
        width: 100%;
        display: block;
        margin: 0;
        padding: 5px 0;
        list-style: none; }
    .menu-pack-box .content p {
      width: 100%;
      display: block;
      color: #969595; }
      .menu-pack-box .content p span {
        font-size: 30px;
        color: #c58f59; }
        .menu-pack-box .content p span small {
          font-size: 18px;
          display: inline-block;
          margin-right: 4px;
          transform: translateY(-7px); }

/* SIDE MENU LIST */
.col-12:last-child .side-image-menu-list {
  margin-bottom: 100px; }

.side-image-menu-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 100px;
  margin-bottom: 200px; }
  .side-image-menu-list .left-side-image {
    width: 70%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #f0e8d9; }
    .side-image-menu-list .left-side-image:before {
      content: "";
      width: 100px;
      height: 100%;
      background: #fff;
      position: absolute;
      left: 0;
      top: 0; }
    .side-image-menu-list .left-side-image img {
      width: 100%;
      float: left;
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0; }
  .side-image-menu-list .right-side-image {
    width: 70%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #f0e8d9; }
    .side-image-menu-list .right-side-image:before {
      content: "";
      width: 100px;
      height: 100%;
      background: #fff;
      position: absolute;
      right: 0;
      top: 0; }
    .side-image-menu-list .right-side-image img {
      width: 100%;
      float: left;
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0; }
  .side-image-menu-list .left-menu-list {
    width: 45%;
    display: inline-block;
    position: relative;
    margin-right: auto;
    background: #fff;
    padding: 50px;
    margin-bottom: -100px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    z-index: 2; }
    .side-image-menu-list .left-menu-list h6 {
      font-size: 54px;
      margin-bottom: 10px;
      font-family: Architectural;
      line-height: 1; }
    .side-image-menu-list .left-menu-list ul {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0; }
      .side-image-menu-list .left-menu-list ul li {
        width: 100%;
        float: left;
        flex-wrap: wrap;
        margin: 0;
        padding: 10px 0;
        list-style: none; }
        .side-image-menu-list .left-menu-list ul li b {
          width: 20%;
          float: right;
          font-size: 30px;
          color: #c58f59;
          text-align: right;
          margin-top: 5px; }
          .side-image-menu-list .left-menu-list ul li b small {
            font-size: 18px;
            display: inline-block;
            margin-right: 4px;
            transform: translateY(-7px); }
        .side-image-menu-list .left-menu-list ul li p {
          width: 80%;
          float: left;
          margin: 0;
          font-size: 20px; }
        .side-image-menu-list .left-menu-list ul li span {
          width: 80%;
          float: left;
          opacity: 0.5;
          font-size: 14px; }
  .side-image-menu-list .right-menu-list {
    width: 45%;
    display: inline-block;
    position: relative;
    margin-left: auto;
    background: #fff;
    padding: 50px;
    margin-bottom: -100px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    z-index: 2; }
    .side-image-menu-list .right-menu-list h6 {
      font-size: 54px;
      margin-bottom: 10px;
      font-family: Architectural;
      line-height: 1; }
    .side-image-menu-list .right-menu-list ul {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0; }
      .side-image-menu-list .right-menu-list ul li {
        width: 100%;
        float: left;
        margin: 0;
        padding: 10px 0;
        list-style: none; }
        .side-image-menu-list .right-menu-list ul li b {
          width: 20%;
          float: right;
          font-size: 30px;
          color: #c58f59;
          text-align: right;
          margin-top: 5px; }
          .side-image-menu-list .right-menu-list ul li b small {
            font-size: 18px;
            display: inline-block;
            margin-right: 4px;
            transform: translateY(-7px); }
        .side-image-menu-list .right-menu-list ul li p {
          width: 80%;
          float: left;
          margin: 0;
          font-size: 20px; }
        .side-image-menu-list .right-menu-list ul li span {
          width: 80%;
          float: left;
          opacity: 0.5;
          font-size: 14px; }

/* SERVICE BOX */
.service-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;
  background: #fff;
  margin: 15px 0; }
  .service-box:hover .content h6 {
    color: #c58f59; }
  .service-box figure {
    width: 120px;
    display: inline-block;
    margin: 0; }
    .service-box figure img {
      height: 70px; }
  .service-box .content {
    width: calc(100% - 120px);
    display: inline-block; }
    .service-box .content h6 {
      font-size: 54px;
      margin-bottom: 10px;
      font-family: Architectural;
      line-height: 1;
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out; }
    .service-box .content p {
      width: 100%;
      display: block;
      margin: 0; }

/* HEAD CHEF IMAGE */
.head-chef-image {
  width: 100%;
  display: block;
  margin: 0; }
  .head-chef-image img {
    max-width: 100%; }

/* VIDEO BOX */
.video-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background: #c58f59; }
  .video-box video {
    width: 100%;
    max-width: 100%;
    float: left;
    filter: grayscale(1);
    mix-blend-mode: overlay; }
  .video-box .content {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff; }
    .video-box .content h6 {
      width: 100%;
      display: block;
      font-size: 50px;
      font-family: Architectural;
      margin-bottom: 30px; }
    .video-box .content a {
      width: 80px;
      height: 80px;
      line-height: 80px;
      display: inline-block;
      border: 2px solid #fff;
      color: #fff;
      border-radius: 50%;
      font-size: 20px;
      text-indent: 2px; }

/* PHOTO GALLERY */
.photo-gallery {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0; }
  .photo-gallery li {
    width: 25%;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none; }
    .photo-gallery li:nth-child(3) {
      width: 50%; }
    .photo-gallery li:nth-child(4) {
      width: 50%; }
    .photo-gallery li:nth-child(9) {
      width: 50%; }
    .photo-gallery li:nth-child(10) {
      width: 50%; }
    .photo-gallery li figure {
      width: 100%;
      float: left;
      margin: 0;
      background: #131313; }
      .photo-gallery li figure a {
        width: 100%;
        float: left; }
        .photo-gallery li figure a img {
          width: 100%;
          float: left;
          -webkit-transition: all .25s ease-in-out;
          -moz-transition: all .25s ease-in-out;
          -ms-transition: all .25s ease-in-out;
          -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out; }

/* TESTIOMONIALS SLIDER */
.testimonials-slider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden; }
  .testimonials-slider .swiper-pagination {
    position: static;
    margin-top: 20px; }
    .testimonials-slider .swiper-pagination .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      transform: scale(0.4);
      margin: 0 8px !important;
      background: #f0e8d9;
      opacity: 1;
      position: relative;
      display: inline-block;
      border-radius: 50%; }
      .testimonials-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        -webkit-transition: box-shadow 0.3s ease;
        transition: box-shadow 0.3s ease;
        -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
        transition: background-color 0.3s ease, transform 0.3s ease;
        -webkit-transform: scale(1);
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
        border: 2px solid #f0e8d9;
        background: none; }
  .testimonials-slider .swiper-slide {
    max-width: 75%;
    opacity: 0.5; }
    .testimonials-slider .swiper-slide.swiper-slide-active {
      opacity: 1; }

.testimonial {
  width: 100%;
  display: block;
  margin: 0;
  text-align: center;
  color: #fff;
  padding: 0 10%; }
  .testimonial small {
    font-family: Architectural;
    font-size: 26px; }
  .testimonial p {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    font-size: 22px; }
  .testimonial figure {
    width: 100%;
    display: block; }
    .testimonial figure img {
      height: 80px; }
  .testimonial h6 {
    font-size: 21px; }

/* MENU LIST */
.menu-list {
  width: 100%;
  display: block;
  position: relative;
  z-index: 2;
  margin-top: 50px;
  padding-right: 30px; }
  .menu-list h6 {
    font-size: 54px;
    margin-bottom: 10px;
    font-family: Architectural;
    line-height: 1; }
  .menu-list ul {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0; }
    .menu-list ul li {
      width: 100%;
      float: left;
      flex-wrap: wrap;
      margin: 0;
      padding: 10px 0;
      list-style: none; }
      .menu-list ul li b {
        width: 20%;
        float: right;
        font-size: 30px;
        color: #c58f59;
        text-align: right;
        margin-top: 5px; }
        .menu-list ul li b small {
          font-size: 18px;
          display: inline-block;
          margin-right: 4px;
          transform: translateY(-7px); }
      .menu-list ul li p {
        width: 80%;
        float: left;
        margin: 0;
        font-size: 20px; }
      .menu-list ul li span {
        width: 80%;
        float: left;
        opacity: 0.5;
        font-size: 14px; }

/* TAB CONTENT */
.tab-content {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0; }
  .tab-content .tab-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #eee; }
    .tab-content .tab-nav li {
      display: inline-block;
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative; }
      .tab-content .tab-nav li:before {
        content: "";
        width: 15px;
        height: 15px;
        background: #eee;
        border: 3px solid #eee;
        position: absolute;
        left: 0;
        bottom: -8px; }
      .tab-content .tab-nav li.active:before {
        border-color: #c58f59;
        background: #fff; }
      .tab-content .tab-nav li.active a {
        color: #c58f59; }
      .tab-content .tab-nav li a {
        display: block;
        color: #131313;
        padding: 20px 0; }
        .tab-content .tab-nav li a:hover {
          text-decoration: none;
          color: #c58f59; }
  .tab-content .tab-item {
    width: 100%;
    display: none;
    margin: 0;
    padding: 0; }
    .tab-content .tab-item.active-item {
      display: block; }

/* TAB DISHES */
.tab-dishes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding-top: 50px; }
  .tab-dishes .image {
    width: 45%;
    display: inline-block;
    margin: 0; }
    .tab-dishes .image img {
      width: auto;
      max-width: 100%; }
  .tab-dishes .content {
    width: 55%;
    display: inline-block;
    padding-left: 50px; }
    .tab-dishes .content h6 {
      font-size: 60px;
      color: #c58f59;
      color: #c58f59;
      font-family: Architectural;
      margin-bottom: 10px;
      text-transform: uppercase; }
    .tab-dishes .content h3 {
      font-size: 56px;
      margin-bottom: 30px; }
    .tab-dishes .content p {
      width: 100%;
      display: block;
      padding-right: 10%;
      line-height: 1.7;
      margin-bottom: 30px; }

/* RECENT NEWS */
.recent-post {
  width: 100%;
  display: block;
  background: #fff;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05); }
  .recent-post figure {
    width: 100%;
    display: block;
    margin: 0; }
  .recent-post .content {
    width: 100%;
    display: block;
    padding: 50px; }
    .recent-post .content small {
      font-family: Architectural;
      font-size: 26px; }
    .recent-post .content h3 {
      width: 100%;
      display: block;
      margin-bottom: 40px;
      font-size: 31px; }
      .recent-post .content h3 a {
        display: block; }
        .recent-post .content h3 a:hover {
          text-decoration: none;
          color: #c58f59; }
    .recent-post .content .author {
      width: 100%;
      display: block;
      margin: 0; }
      .recent-post .content .author img {
        height: 60px;
        float: left;
        margin-right: 10px;
        border-radius: 50%; }
      .recent-post .content .author span {
        line-height: 60px;
        display: inline-block;
        color: #969595; }
        .recent-post .content .author span strong {
          color: #131313; }

/* NEWS BOX */
.news-box {
  width: 100%;
  display: block;
  position: relative;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  margin-bottom: 100px; }
  .news-box:last-child {
    margin-bottom: 0; }
  .news-box:after {
    content: "";
    width: 70%;
    height: 70px;
    background: url("../images/pattern-dot.html");
    background-size: 12px 12px;
    position: absolute;
    right: -25px;
    bottom: -25px;
    z-index: -1;
    opacity: 0.2; }
  .news-box:hover .content h3 a {
    background-size: 100% 100%; }
  .news-box figure {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    background: #c58f59; }
    .news-box figure img {
      width: 100%;
      max-width: inherit; }
  .news-box .content {
    width: 100%;
    height: 100%;
    display: block;
    background: #fff; }
    .news-box .content small {
      display: block;
      font-family: Architectural;
      font-size: 26px; }
    .news-box .content h3 {
      width: 100%;
      display: block;
      margin-bottom: 30px;
      font-size: 38px;
      line-height: 1.4; }
      .news-box .content h3 a {
        display: block;
        color: #131313; }
        .news-box .content h3 a:hover {
          color: #c58f59;
          text-decoration: none; }
    .news-box .content .author {
      width: 100%;
      display: block;
      margin-bottom: 0;
      font-size: 13px; }
      .news-box .content .author img {
        height: 50px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 15px; }
      .news-box .content .author b {
        font-weight: 600; }
    .news-box .content h6 {
      font-size: 24px;
      line-height: 1.7;
      margin: 30px 0; }
    .news-box .content strong {
      font-weight: 600; }
    .news-box .content figure {
      margin: 30px 0; }
    .news-box .content blockquote {
      width: 100%;
      display: block;
      padding: 40px;
      background: #c58f59;
      color: #fff;
      font-size: 19px; }
    .news-box .content ul {
      padding-left: 20px; }
      .news-box .content ul li {
        margin: 4px 0; }

/* SIDEBAR */
.sidebar {
  width: 100%;
  display: block;
  padding-left: 30px; }
  .sidebar .widget {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: url("../images/pattern-bg.png") #c58f59;
    padding: 50px;
    margin-bottom: 50px;
    position: relative; }
    .sidebar .widget:before {
      content: "";
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      background: #fff;
      position: absolute;
      left: 20px;
      top: 20px; }
    .sidebar .widget:last-child {
      margin-bottom: 0; }
    .sidebar .widget * {
      position: relative; }
    .sidebar .widget .widget-title {
      width: 100%;
      display: block;
      position: relative;
      z-index: 1;
      font-weight: 400;
      letter-spacing: 3px;
      font-family: Architectural;
      font-size: 36px;
      color: #c58f59;
      padding-top: 7px;
      margin-bottom: 30px;
      padding-bottom: 30px; }
      .sidebar .widget .widget-title:before {
        content: "";
        width: 100%;
        height: 2px;
        background: #f0e8d9;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        mix-blend-mode: difference; }
    .sidebar .widget form {
      width: 100%;
      display: block; }
      .sidebar .widget form input[type="submit"] {
        margin-top: 10px;
        background: #131313;
        color: #fff; }
    .sidebar .widget .categories {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0; }
      .sidebar .widget .categories li {
        width: 100%;
        display: block;
        margin: 4px 0;
        padding: 0;
        list-style: none; }
        .sidebar .widget .categories li a {
          color: #131313;
          font-size: 19px; }
    .sidebar .widget .side-gallery {
      width: calc(100% + 4px);
      float: left;
      margin: 0 -2px;
      padding: 0; }
      .sidebar .widget .side-gallery li {
        width: 33.3333%;
        float: left;
        margin: 0;
        padding: 2px;
        list-style: none; }

/* TEAM MEMBER */
.team-member {
  width: 100%;
  display: block;
  text-align: center; }
  .team-member figure {
    width: 100%;
    display: block;
    margin: 0; }
    .team-member figure img {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      border-bottom: 1px solid #f0e8d9; }
    .team-member figure figcaption {
      width: 100%;
      display: block; }
      .team-member figure figcaption h6 {
        font-size: 20px;
        display: block;
        margin-bottom: 5px; }
      .team-member figure figcaption small {
        width: 100%;
        display: block;
        margin-bottom: 5px;
        font-family: Architectural;
        font-size: 24px;
        color: #c58f59; }
      .team-member figure figcaption ul {
        display: inline-block;
        margin: 0;
        padding: 0; }
        .team-member figure figcaption ul li {
          display: inline-block;
          margin: 0 4px;
          padding: 0;
          list-style: none; }
          .team-member figure figcaption ul li a {
            display: block;
            font-size: 12px; }
            .team-member figure figcaption ul li a:hover {
              color: #c58f59; }

/* MENU IMAGES SLIDER */
.menu-images-slider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden; }
  .menu-images-slider .swiper-pagination {
    margin-bottom: 20px; }
    .menu-images-slider .swiper-pagination .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      transform: scale(0.4);
      margin: 0 8px !important;
      background: #f0e8d9;
      opacity: 1;
      position: relative;
      display: inline-block;
      border-radius: 50%; }
      .menu-images-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        -webkit-transition: box-shadow 0.3s ease;
        transition: box-shadow 0.3s ease;
        -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
        transition: background-color 0.3s ease, transform 0.3s ease;
        -webkit-transform: scale(1);
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
        border: 2px solid #f0e8d9;
        background: none; }

/* DELIVERY FORM */
.delivery-form {
  width: 100%;
  display: block;
  margin: 0; }
  .delivery-form input[type="text"] {
    width: 100%; }
  .delivery-form textarea {
    width: 100%; }
  .delivery-form select {
    width: 100%; }
  .delivery-form .half {
    width: 49%; }
  .delivery-form .half:last-child {
    float: right; }

/* CONTACT BOX */
.contact-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .contact-box figure {
    width: 80px;
    display: inline-block; }
    .contact-box figure img {
      height: 55px; }
  .contact-box h6 {
    width: calc(100% - 80px);
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: Architectural;
    color: #c58f59;
    font-size: 50px; }
  .contact-box p {
    width: 100%;
    display: block;
    padding-left: 80px;
    margin: 0; }

/* CONTACT FORM */
.contact-form {
  width: 100%;
  display: block;
  padding: 100px;
  background: url("../images/pattern-bg.png") #c58f59;
  color: #fff; }
  .contact-form h3 {
    width: 100%;
    display: block;
    font-size: 60px;
    font-family: Architectural;
    margin-bottom: 30px; }
  .contact-form .form-group {
    width: 100%;
    display: block; }
    .contact-form .form-group:last-child {
      margin-bottom: 0; }
    .contact-form .form-group select {
      width: 100%;
      border: none; }
    .contact-form .form-group input[type="text"] {
      border: none; }
    .contact-form .form-group textarea {
      border: none; }
    .contact-form .form-group input[type="submit"] {
      border: 2px solid #fff;
      color: #fff; }

.google-maps {
  width: 100%;
  height: 80vh; }
  .google-maps iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 10px solid #f0e8d9; }

/* ERROR 404 */
.error-404 {
  width: 100%;
  display: block;
  text-align: center; }
  .error-404 figure {
    width: 100%;
    display: block;
    margin: 0; }
    .error-404 figure img {
      height: 200px; }
  .error-404 h4 {
    width: 100%;
    display: block;
    font-size: 100px;
    font-family: Architectural;
    color: #c58f59;
    line-height: 1; }
  .error-404 p {
    display: block;
    margin: 0; }

/* INSTAGRAM FEED*/
.instagram-feed {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  .instagram-feed:before {
    content: "";
    width: 100%;
    height: 123px;
    background: #141414;
    position: absolute;
    left: 0;
    bottom: 0; }
  .instagram-feed .instagram-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px; }
    .instagram-feed .instagram-info i {
      display: inline-block;
      font-size: 40px;
      margin-bottom: 20px;
      color: #c58f59; }
    .instagram-feed .instagram-info span {
      width: 100%;
      display: block;
      font-family: Architectural;
      font-size: 30px;
      line-height: 1;
      margin-bottom: 10px; }
    .instagram-feed .instagram-info a {
      display: inline-block; }
  .instagram-feed ul {
    width: 100%;
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1; }
    .instagram-feed ul li {
      flex: 1;
      margin: 0;
      padding: 0;
      list-style: none;
      background: #141414; }
      .instagram-feed ul li figure {
        width: 100%;
        float: left;
        margin: 0; }
        .instagram-feed ul li figure a {
          width: 100%;
          float: left; }
          .instagram-feed ul li figure a img {
            width: 100%;
            float: left;
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out; }

/* FOOTER */
.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: url("../images/footer-bg.jpg") center #131313;
  background-size: cover;
  color: #fff;
  padding-top: 150px; }
  .footer .logo {
    width: 100%;
    display: block; }
    .footer .logo a {
      display: inline-block; }
      .footer .logo a img {
        height: 50px; }
  .footer .widget-title {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-top: 15px;
    line-height: 1;
    color: #f0e8d9;
    font-family: Architectural;
    font-size: 34px; }
  .footer ul {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding-left: 20px; }
    .footer ul li {
      width: 100%;
      margin: 0;
      padding: 5px 0; }
      .footer ul li a {
        display: inline-block;
        color: #fff; }
  .footer form {
    width: 100%;
    display: block;
    margin-bottom: 50px; }
    .footer form input[type="email"] {
      border: none;
      margin-bottom: 10px; }
  .footer .tripadvisor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px; }
    .footer .tripadvisor h6 {
      display: inline-block;
      margin: 0;
      margin-right: 20px;
      line-height: 1;
      color: #c58f59;
      font-family: Architectural;
      font-size: 34px;
      padding-top: 4px; }
    .footer .tripadvisor img {
      display: inline-block;
      height: 46px;
      margin-right: 20px; }
    .footer .tripadvisor span {
      display: inline-block; }
      .footer .tripadvisor span b {
        font-weight: 400;
        color: #c58f59; }
  .footer .footer-bottom {
    width: 100%;
    float: left;
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1); }
    .footer .footer-bottom span {
      font-size: 15px;
      float: left; }
      .footer .footer-bottom span a {
        color: #f0e8d9;
        text-decoration: underline; }
      .footer .footer-bottom span:last-child {
        float: right; }

/* RESPONSIVE MEDIUM  */
@media only screen and (max-width: 1199px), only screen and (max-device-width: 1199px) {
  .navbar .custom-menu {
    margin: 0 10px; }

  .navbar .site-menu ul li {
    margin: 0 10px; }

  .reservation-form {
    padding: 50px; }

  .side-content h3 br {
    display: none; }

  .menu-pack-box .content {
    width: 100%; }

  .side-content .thumbs li {
    width: 30%; }

  .side-content p {
    padding-right: 0; }

  .recent-post .content {
    padding: 30px; } }
/* RESPONSIVE TABLET  */
@media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
  .search-box .inner {
    width: 100vw;
    max-width: 80vw; }

  .navbar .custom-menu {
    display: none; }

  .navbar .site-menu {
    display: none; }

  .side-widget .hide-mobile {
    display: none; }

  .side-widget .show-mobile {
    display: block; }

  .slider .main-slider .button-prev {
    display: none; }

  .slider .main-slider .button-next {
    display: none; }

  .slider .main-slider .swiper-slide .slide-inner h1 {
    font-size: 54px; }

  .slider .main-slider .swiper-slide .slide-inner h1 br {
    display: none; }

  .side-content {
    margin-bottom: 50px; }

  .menu-pack-box {
    margin: 15px 0; }

  .side-image-menu-list .left-side-image {
    width: 100%; }

  .side-image-menu-list .right-side-image {
    width: 100%; }

  .side-image-menu-list .right-menu-list {
    width: 100%;
    margin-top: 50%; }

  .side-image-menu-list .left-menu-list {
    width: 100%;
    margin-top: 50%; }

  .photo-gallery li {
    width: 50%; }

  .head-chef-image {
    text-align: center; }

  .recent-post {
    margin: 15px 0; }

  .team-member {
    margin: 15px 0; }

  .tab-dishes .image {
    width: 100%;
    text-align: center;
    margin-bottom: 50px; }

  .tab-dishes .content {
    width: 100%;
    padding: 0; }

  .footer .logo {
    margin-bottom: 50px; } }
/* RESPONSIVE MOBILE */
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .side-widget {
    box-shadow: none;
    max-width: 70vw; }

  .navbar {
    padding: 20px 15px; }

  .navbar .logo {
    margin-right: 0; }

  .navbar .logo a img {
    height: 40px; }

  .slider .main-slider .bottom-bar {
    padding: 20px 15px; }

  .slider .main-slider .bottom-bar .fraction {
    display: none; }

  .slider .main-slider .bottom-bar .social-media {
    width: 50%; }

  .slider .main-slider .bottom-bar .social-media span {
    display: none; }

  .slider .main-slider .bottom-bar .phone span {
    display: none; }

  .slider .main-slider .bottom-bar .phone {
    width: 50%; }

  .side-content h6 {
    font-size: 50px; }

  .side-content h3 {
    font-size: 44px; }

  .reservation-form {
    padding: 30px; }

  .reservation-form .form-group select {
    width: 100%; }

  .reservation-form .form-group .date {
    width: 48%;
    margin-right: 0; }

  .reservation-form .form-group .time {
    width: 48%; }

  .section-title h2 {
    font-size: 40px; }

  .side-image-menu-list {
    margin-bottom: 150px; }

  .side-image-menu-list .left-menu-list {
    padding: 30px 20px; }

  .service-box {
    text-align: center;
    padding: 30px; }

  .service-box figure {
    width: 100%;
    margin-bottom: 20px; }

  .service-box .content {
    width: 100%; }

  .side-image-menu-list .right-menu-list {
    padding: 30px 20px; }

  .side-content .thumbs {
    width: 100%; }

  .side-content .thumbs li {
    width: 48%; }

  .testimonials-slider .swiper-slide {
    max-width: 100%; }

  .video-box .content h6 {
    margin-bottom: 10px; }

  .tab-dishes .content h6 {
    font-display: 50px; }

  .tab-dishes .content h3 br {
    display: none; }

  .tab-dishes .content h3 {
    font-size: 44px; }

  .tab-dishes .content p {
    padding-right: 0; }

  .tab-content {
    overflow: hidden; }

  .tab-content .tab-nav-wrapper {
    max-width: 100%;
    overflow-x: scroll; }

  .tab-content .tab-nav {
    width: 1000px;
    flex-wrap: wrap; }

  .tab-content .tab-nav li {
    width: 200px;
    text-align: left; }

  .page-header .container h1 {
    font-size: 70px; }

  .instagram-feed ul {
    flex-wrap: wrap;
    flex: initial; }

  .instagram-feed ul li {
    width: 50%;
    flex: initial;
    display: inline-block; }

  .instagram-feed ul li:last-child {
    display: none; }

  .footer .tripadvisor h6 {
    width: 100%;
    display: block;
    margin-bottom: 20px; }

  .footer .footer-bottom span {
    font-size: 12px; }

  .footer .footer-bottom span:last-child {
    float: left;
    margin-top: 10px; } }

/*# sourceMappingURL=style.css.map */
